@model Papero.Models.Armadi
@{
    ViewBag.Title = localizzatore["Anagrafica Cassetti"];
}
@section css {

<style type="text/css">
    a.btn.btn-sm.ng-hide {
        display: inline-block !important;
        visibility: hidden;
    }
</style>

}

@section scripts {

    <script src="~/js/anagraficaCassettiController.js"></script>

}
<div ng-app="papero-app" ng-controller="anagraficaCassettiController as vm">
    <input type="hidden" id="idArmadioHidden" name="idArmadioHidden" value="@Model.Id"/>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        @localizzatore["Cassetti"]&nbsp;&nbsp;&nbsp;
                        @if (await autorizzatore.AuthorizeAsync(User, "EditAnagraficaCollocazione"))
                        {
                            <a href="#" class="btn btn-success" ng-click="vm.apriPannelloInserimento()" ng-show="vm.pulsanteInserimentoVisibile"><i class="fa fa-plus"></i> @localizzatore["Nuovo"]</a>
                        }

                    </div>
                </div>
                <div id="panelInserimento" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputInsertCassetto" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Inserisci nuovo Cassetto"]:</label>
                            <div class="col-lg-3">
                                <input type="text" 
                                       class="form-control" 
                                       ng-model="vm.inputInsertCassetto" 
                                       ng-change="vm.verificaCassetto()" 
                                       id="inputInsertCassetto" 
                                       name="inputInsertCassetto" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                    <div class="alert alert-danger" ng-show="vm.cassettoGiaPresente">
                                        <strong>@localizzatore["Cassetto già presente!"]</strong> (@localizzatore["Id"]: {{vm.cassettoDoppio.id}})
                                    </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset" class="btn btn-outline-primary" ng-click="vm.annullaInserimento()">@localizzatore["Annulla"]</button>
                                        <button type="submit" class="btn btn-success" ng-click="vm.inserisciCassetto()" ng-disabled="vm.pulsanteInsertDisabilitato">@localizzatore["Inserisci"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelEdit" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputEditCassetto" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Modifica Cassetto"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputEditCassetto"
                                       ng-change="vm.verificaEditCassetto()"
                                       id="inputEditCassetto"
                                       name="inputEditCassetto" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.cassettoGiaPresente">
                                    <strong>@localizzatore["Cassetto già presente!"]</strong> (@localizzatore["Id"]: {{vm.cassettoDoppio.id}})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset" 
                                                class="btn btn-outline-primary" 
                                                ng-click="vm.annullaEdit()">@localizzatore["Annulla"]</button>
                                        <button type="submit" 
                                                class="btn btn-success" 
                                                ng-click="vm.editCassetto()" 
                                                ng-disabled="vm.pulsanteEditDisabilitato">@localizzatore["Modifica"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelCancella" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-2 col-lg-offset-2 control-label text-danger">@localizzatore["Cancella Cassetto"]:</label>
                            <div class="col-lg-3" >
                                <h4>{{vm.cassettoDaCancellare}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.cassettononCancellabile">
                                    <strong>@localizzatore["Impossibile cancellare il Cassetto!"]</strong> (@localizzatore["Vi sono elementi dipendenti"])
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset"
                                                class="btn btn-outline-primary"
                                                ng-click="vm.annullaCancella()">
                                            @localizzatore["Annulla"]
                                        </button>
                                        <button type="submit"
                                                class="btn btn-danger"
                                                ng-click="vm.cancellaCassetto()"
                                                ng-show="vm.pulsanteCancellaVisibile">
                                                @localizzatore["Cancella"]
                                        </button>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="uiSelectSala" class="col-lg-1 col-lg-offset-3 control-label text-primary">@localizzatore["Sala"]:</label>
            <div class="col-lg-3">
                <ui-select id="uiSelectSala" 
                           ng-model="vm.salaSelezionata" 
                           ng-change="vm.selezionaSala()" 
                           ng-disabled="vm.dropdownDisabilitate">
                    <ui-select-match>
                        <span ng-bind="$select.selected.sala"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="sala in (vm.sale | filter: $select.search) track by sala.id">
                        <span ng-bind="sala.sala"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="form-group">
            <label for="uiSelectArmadio" class="col-lg-1 col-lg-offset-3 control-label text-primary">@localizzatore["Armadio"]:</label>
            <div class="col-lg-3">
                <ui-select id="uiSelectArmadio" 
                           ng-model="vm.armadioSelezionato" 
                           ng-change="vm.selezionaArmadio()" 
                           ng-disabled="vm.dropdownDisabilitate">
                    <ui-select-match>
                        <span ng-bind="$select.selected.armadio"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="armadio in (vm.armadi | filter: $select.search) track by armadio.id">
                        <span ng-bind="armadio.armadio"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-lg-1">
                <a class="btn btn-sm btn-primary"
                   ng-href="/Anagrafiche/Armadi/{{vm.salaSelezionata.id}}">
                    <i class="fa fa-arrow-left"></i><text>&nbsp;</text>@localizzatore["Armadi"]
                </a>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            <table datatable="ng"
                   class="table table-striped table-bordered table-hover"
                   id="tabellaCassetti"
                   dt-options="vm.opzioniTabellaCassetti"
                   dt-column-defs="vm.colonneTabellaCassetti">
                <thead>
                    <tr>
                        <th>@localizzatore["Id"]</th>
                        <th>@localizzatore["Cassetto"]</th>
                        <th>@localizzatore["Azioni"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cassetto in vm.cassetti">
                        <td>{{cassetto.id}}</td>
                        <td>{{cassetto.cassetto}}</td>
                        <td>
                            @if (await autorizzatore.AuthorizeAsync(User, "EditAnagraficaCollocazione"))
                            {
                                <a class="btn btn-sm btn-success text-white"
                                   ng-click="vm.apriPannelloEdit(cassetto)"
                                   ng-hide="cassetto.cassetto == '-'">
                                    <i class="fa fa-pencil"></i>&nbsp;@localizzatore["Modifica"]
                                </a><text>&nbsp; &nbsp; &nbsp;</text>
                                <a class="btn btn-sm btn-danger"
                                   ng-click="vm.apriPannelloCancella(cassetto)"
                                   ng-hide="(cassetto.cassetto == '-') || (cassetto.vassoi.length != 1)">
                                    <i class="fa fa-trash"></i><text>&nbsp;</text>@localizzatore["Cancella"]
                                </a>
                            }
                            <a class="btn btn-sm btn-primary"
                               ng-href="/Anagrafiche/Vassoi/{{cassetto.id}}">
                                <i class="fa fa-arrow-right"></i><text>&nbsp;</text>@localizzatore["Vassoi"] ({{cassetto.vassoi.length - 1}})
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>