@model Papero.Models.Province
@{
    ViewBag.Title = localizzatore["Anagrafica Città"];
}
@section css {

<style type="text/css">
    a.btn.btn-sm.ng-hide {
        display: inline-block !important;
        visibility: hidden;
    }
</style>

}

@section scripts {

    <script src="~/js/anagraficaCittaController.js"></script>

}
<div ng-app="papero-app" ng-controller="anagraficaCittaController as vm">
    <input type="hidden" id="idProvinciaHidden" name="idProvinciaHidden" value="@Model.Id" />
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        @localizzatore["Città"]&nbsp;&nbsp;&nbsp;
                        @if (await autorizzatore.AuthorizeAsync(User, "EditAnagraficaCollocazione"))
                        {
                            <a href="#" class="btn btn-success" ng-click="vm.apriPannelloInserimento()" ng-show="vm.pulsanteInserimentoVisibile"><i class="fa fa-plus"></i> @localizzatore["Nuova"]</a>
                        }

                    </div>
                </div>
                <div id="panelInserimento" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputInsertCitta" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Inserisci nuova Città"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputInsertCitta"
                                       ng-change="vm.verificaCitta()"
                                       id="inputInsertCitta"
                                       name="inputInsertCitta" />
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="form-group">
                            <label for="inputInsertCodiceIstat" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Codice ISTAT"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputInsertCodiceIstat"
                                       ng-change="vm.verificaCodiceIstat()"
                                       id="inputInsertCodiceIstat"
                                       name="inputInsertCodiceIstat" />
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="form-group">
                            <label for="inputInsertCodiceCatastale" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Codice Catastale"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputInsertCodiceCatastale"
                                       ng-change="vm.verificaCodiceCatastale()"
                                       id="inputInsertCodiceCatastale"
                                       name="inputInsertCodiceCatastale" />
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.cittaGiaPresente">
                                    <strong>@localizzatore["Città già presente!"]</strong> (@localizzatore["Id"]: {{vm.cittaDoppia.id}})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset" class="btn btn-outline-primary" ng-click="vm.annullaInserimento()">@localizzatore["Annulla"]</button>
                                        <button type="submit" class="btn btn-success" ng-click="vm.inserisciCitta()" ng-disabled="vm.pulsanteInsertDisabilitato">@localizzatore["Inserisci"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelEdit" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputEditCitta" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Modifica Città"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputEditCitta"
                                       ng-change="vm.verificaEditCitta()"
                                       id="inputEditCitta"
                                       name="inputEditCitta" />
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="form-group">
                            <label for="inputEditCodiceIstat" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Codice ISTAT"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputEditCodiceIstat"
                                       ng-change="vm.verificaCodiceIstat()"
                                       id="inputEditCodiceIstat"
                                       name="inputEditCodiceIstat" />
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="form-group">
                            <label for="inputEditCodiceCatastale" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Codice Catastale"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputEditCodiceCatastale"
                                       ng-change="vm.verificaCodiceCatastale()"
                                       id="inputEditCodiceCatastale"
                                       name="inputEditCodiceCatastale" />
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.cittaGiaPresente">
                                    <strong>@localizzatore["Città già presente!"]</strong> (@localizzatore["Id"]: {{vm.cittaDoppia.id}})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset"
                                                class="btn btn-outline-primary"
                                                ng-click="vm.annullaEdit()">
                                            @localizzatore["Annulla"]
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-success"
                                                    ng-click="vm.editCitta()"
                                                    ng-disabled="vm.pulsanteEditDisabilitato">
                                                @localizzatore["Modifica"]
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="panelCancella" class="panel-body panel-collapse collapse">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-lg-2 col-lg-offset-2 control-label text-danger">@localizzatore["Cancella Città"]:</label>
                                    <div class="col-lg-3">
                                        <h4>{{vm.cittaDaCancellare}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-3 col-lg-offset-4">
                                        <div class="alert alert-danger" ng-show="vm.cittanonCancellabile">
                                            <strong>@localizzatore["Impossibile cancellare la Città!"]</strong> (@localizzatore["Vi sono elementi dipendenti"])
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <div class="pull-right">
                                                <button type="reset"
                                                        class="btn btn-outline-primary"
                                                        ng-click="vm.annullaCancella()">
                                                    @localizzatore["Annulla"]
                                                </button>
                                                <button type="submit"
                                                        class="btn btn-danger"
                                                        ng-click="vm.cancellaCitta()"
                                                        ng-show="vm.pulsanteCancellaVisibile">
                                                    @localizzatore["Cancella"]
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="uiSelectNazione" class="col-lg-1 col-lg-offset-3 control-label text-primary">@localizzatore["Nazione"]:</label>
                    <div class="col-lg-3">
                        <ui-select id="uiSelectNazione"
                                   ng-model="vm.nazioneSelezionata"
                                   ng-change="vm.selezionaNazione()"
                                   ng-disabled="vm.dropdownDisabilitate">
                            <ui-select-match>
                                <span ng-bind="$select.selected.nazione"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="nazione in (vm.nazioni | filter: $select.search) track by nazione.id">
                                <span ng-bind="nazione.nazione"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="form-group">
                    <label for="uiSelectRegione" class="col-lg-1 col-lg-offset-3 control-label text-primary">@localizzatore["Regione"]:</label>
                    <div class="col-lg-3">
                        <ui-select id="uiSelectRegione"
                                   ng-model="vm.regioneSelezionata"
                                   ng-change="vm.selezionaRegione()"
                                   ng-disabled="vm.dropdownDisabilitate">
                            <ui-select-match>
                                <span ng-bind="$select.selected.regione"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="regione in (vm.regioni | filter: $select.search) track by regione.id">
                                <span ng-bind="regione.regione"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="form-group">
                    <label for="uiSelectProvincia" class="col-lg-1 col-lg-offset-3 control-label text-primary">@localizzatore["Provincia"]:</label>
                    <div class="col-lg-3">
                        <ui-select id="uiSelectProvincia"
                                   ng-model="vm.provinciaSelezionata"
                                   ng-change="vm.selezionaProvincia()"
                                   ng-disabled="vm.dropdownDisabilitate">
                            <ui-select-match>
                                <span ng-bind="$select.selected.provincia"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="provincia in (vm.province | filter: $select.search) track by provincia.id">
                                <span ng-bind="provincia.provincia"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-lg-1">
                        <a class="btn btn-sm btn-primary"
                           ng-href="/Anagrafiche/Province/{{vm.regioneSelezionata.id}}">
                            <i class="fa fa-arrow-left"></i><text>&nbsp;</text>@localizzatore["Province"]
                        </a>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-lg-12">
                    <table datatable="ng"
                           class="table table-striped table-bordered table-hover"
                           id="tabellaCitta"
                           dt-options="vm.opzioniTabellaCitta"
                           dt-column-defs="vm.colonneTabellaCitta">
                        <thead>
                            <tr>
                                <th>@localizzatore["Id"]</th>
                                <th>@localizzatore["Città"]</th>
                                <th>@localizzatore["Codice ISTAT"]</th>
                                <th>@localizzatore["Codice Catastale"]</th>
                                <th>@localizzatore["Azioni"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="citta in vm.citta">
                                <td>{{citta.id}}</td>
                                <td>{{citta.nomeCitta}}</td>
                                <td>{{citta.codiceIstat}}</td>
                                <td>{{citta.codiceCatastale}}</td>
                                <td>
                                    @if (await autorizzatore.AuthorizeAsync(User, "EditAnagraficaCollocazione"))
                                    {
                                        <a class="btn btn-sm btn-success text-white"
                                           ng-click="vm.apriPannelloEdit(citta)"
                                           ng-hide="citta.nomeCitta == '-'">
                                            <i class="fa fa-pencil"></i>&nbsp;@localizzatore["Modifica"]
                                        </a><text>&nbsp; &nbsp; &nbsp;</text>
                                        <a class="btn btn-sm btn-danger"
                                           ng-click="vm.apriPannelloCancella(citta)"
                                           ng-hide="(citta.nomeCitta == '-') || (citta.localita.length > 1)">
                                            <i class="fa fa-trash"></i><text>&nbsp;</text>@localizzatore["Cancella"]
                                        </a>
                                    }
                                    <a class="btn btn-sm btn-primary"
                                       ng-href="/Anagrafiche/Localita/{{citta.id}}">
                                        <i class="fa fa-arrow-right"></i><text>&nbsp;</text>@localizzatore["Località"] ({{citta.localita.length - 1}})
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>