@model Papero.Models.Regioni
@{
    ViewBag.Title = localizzatore["Anagrafica Province"];
}
@section css {

<style type="text/css">
    a.btn.btn-sm.ng-hide {
        display: inline-block !important;
        visibility: hidden;
    }
</style>

}

@section scripts {

    <script src="~/js/anagraficaProvinceController.js"></script>

}
<div ng-app="papero-app" ng-controller="anagraficaProvinceController as vm">
    <input type="hidden" id="idRegioneHidden" name="idRegioneHidden" value="@Model.Id"/>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        @localizzatore["Province"]&nbsp;&nbsp;&nbsp;
                        @if (await autorizzatore.AuthorizeAsync(User, "EditAnagraficaCollocazione"))
                        {
                            <a href="#" class="btn btn-success" ng-click="vm.apriPannelloInserimento()" ng-show="vm.pulsanteInserimentoVisibile"><i class="fa fa-plus"></i> @localizzatore["Nuova"]</a>
                        }

                    </div>
                </div>
                <div id="panelInserimento" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputInsertProvincia" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Inserisci nuova Provincia"]:</label>
                            <div class="col-lg-3">
                                <input type="text" 
                                       class="form-control" 
                                       ng-model="vm.inputInsertProvincia" 
                                       ng-change="vm.verificaProvincia()" 
                                       id="inputInsertProvincia" 
                                       name="inputInsertProvincia" />
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="form-group">
                            <label for="inputInsertSiglaProvincia" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Sigla Provincia"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputInsertSiglaProvincia"
                                       ng-change="vm.verificaSiglaProvincia()"
                                       id="inputInsertSiglaProvincia"
                                       name="inputInsertSiglaProvincia" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                    <div class="alert alert-danger" ng-show="vm.provinciaGiaPresente">
                                        <strong>@localizzatore["Provincia già presente!"]</strong> (@localizzatore["Id"]: {{vm.provinciaDoppia.id}})
                                    </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset" class="btn btn-outline-primary" ng-click="vm.annullaInserimento()">@localizzatore["Annulla"]</button>
                                        <button type="submit" class="btn btn-success" ng-click="vm.inserisciProvincia()" ng-disabled="vm.pulsanteInsertDisabilitato">@localizzatore["Inserisci"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelEdit" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputEditProvincia" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Modifica Provincia"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputEditProvincia"
                                       ng-change="vm.verificaEditProvincia()"
                                       id="inputEditProvincia"
                                       name="inputEditProvincia" />
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="form-group">
                            <label for="inputEditSiglaProvincia" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Sigla Provincia"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputEditSiglaProvincia"
                                       ng-change="vm.verificaEditSiglaProvincia()"
                                       id="inputEditSiglaProvincia"
                                       name="inputEditSiglaProvincia" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.provinciaGiaPresente">
                                    <strong>@localizzatore["Provincia già presente!"]</strong> (@localizzatore["Id"]: {{vm.provinciaDoppia.id}})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset" 
                                                class="btn btn-outline-primary" 
                                                ng-click="vm.annullaEdit()">@localizzatore["Annulla"]</button>
                                        <button type="submit" 
                                                class="btn btn-success" 
                                                ng-click="vm.editProvincia()" 
                                                ng-disabled="vm.pulsanteEditDisabilitato">@localizzatore["Modifica"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelCancella" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-2 col-lg-offset-2 control-label text-danger">@localizzatore["Cancella Provincia"]:</label>
                            <div class="col-lg-3" >
                                <h4>{{vm.provinciaDaCancellare}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.provincianonCancellabile">
                                    <strong>@localizzatore["Impossibile cancellare la Provincia!"]</strong> (@localizzatore["Vi sono elementi dipendenti"])
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset"
                                                class="btn btn-outline-primary"
                                                ng-click="vm.annullaCancella()">
                                            @localizzatore["Annulla"]
                                        </button>
                                        <button type="submit"
                                                class="btn btn-danger"
                                                ng-click="vm.cancellaProvincia()"
                                                ng-show="vm.pulsanteCancellaVisibile">
                                                @localizzatore["Cancella"]
                                        </button>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="uiSelectNazione" class="col-lg-1 col-lg-offset-3 control-label text-primary">@localizzatore["Nazione"]:</label>
            <div class="col-lg-3">
                <ui-select id="uiSelectNazione" 
                           ng-model="vm.nazioneSelezionata" 
                           ng-change="vm.selezionaNazione()" 
                           ng-disabled="vm.dropdownDisabilitate">
                    <ui-select-match>
                        <span ng-bind="$select.selected.nazione"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="nazione in (vm.nazioni | filter: $select.search) track by nazione.id">
                        <span ng-bind="nazione.nazione"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="form-group">
            <label for="uiSelectRegione" class="col-lg-1 col-lg-offset-3 control-label text-primary">@localizzatore["Regione"]:</label>
            <div class="col-lg-3">
                <ui-select id="uiSelectRegione"
                           ng-model="vm.regioneSelezionata"
                           ng-change="vm.selezionaRegione()"
                           ng-disabled="vm.dropdownDisabilitate">
                    <ui-select-match>
                        <span ng-bind="$select.selected.regione"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="regione in (vm.regioni | filter: $select.search) track by regione.id">
                        <span ng-bind="regione.regione"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            <table datatable="ng"
                   class="table table-striped table-bordered table-hover"
                   id="tabellaProvince"
                   dt-options="vm.opzioniTabellaProvince"
                   dt-column-defs="vm.colonneTabellaProvince">
                <thead>
                    <tr>
                        <th>@localizzatore["Id"]</th>
                        <th>@localizzatore["Provincia"]</th>
                        <th>@localizzatore["Sigla Provincia"]</th>
                        <th>@localizzatore["Azioni"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="provincia in vm.province">
                        <td>{{provincia.id}}</td>
                        <td>{{provincia.provincia}}</td>
                        <td>{{provincia.siglaProvincia}}</td>
                        <td>
                            @if (await autorizzatore.AuthorizeAsync(User, "EditAnagraficaCollocazione"))
                            {
                                <a class="btn btn-sm btn-success text-white"
                                   ng-click="vm.apriPannelloEdit(provincia)"
                                   ng-hide="provincia.provincia == '-'">
                                    <i class="fa fa-pencil"></i>&nbsp;@localizzatore["Modifica"]
                                </a><text>&nbsp; &nbsp; &nbsp;</text>
                                <a class="btn btn-sm btn-danger"
                                   ng-click="vm.apriPannelloCancella(provincia)"
                                   ng-hide="(provincia.provincia == '-') || (provincia.citta.length != 1)"
                                   >
                                    <i class="fa fa-trash"></i><text>&nbsp;</text>@localizzatore["Cancella"]
                                </a>
                            }
                            <a class="btn btn-sm btn-primary"
                               ng-href="/Anagrafiche/Province/{{provincia.id}}">
                                <i class="fa fa-arrow-right"></i><text>&nbsp;</text>@localizzatore["Province"] ({{provincia.citta.length - 1}})
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>