
@{
    ViewBag.Title = localizzatore["Anagrafica Raccoglitori"];
}
@section css {

}

@section scripts {

    <script src="~/js/anagrafiche/anagraficaRaccoglitoriController.js"></script>

}
<div ng-app="papero-app" ng-controller="anagraficaRaccoglitoriController as vm">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        @localizzatore["Raccoglitori"]&nbsp;&nbsp;&nbsp;
                        @if (await autorizzatore.AuthorizeAsync(User, "EditAnagraficaRaccoglitori"))
                        {
                            <a href="#" class="btn btn-success" ng-click="vm.apriPannelloInserimento()" ng-show="vm.pulsanteInserimentoVisibile"><i class="fa fa-plus"></i> @localizzatore["Nuovo"]</a>
                        }

                    </div>
                </div>
                <div id="panelInserimento" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputInsertRaccoglitore" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Inserisci nuovo Raccoglitore"]:</label>
                            <div class="col-lg-3">
                                <input type="text" 
                                       class="form-control" 
                                       ng-model="vm.inputInsertRaccoglitore" 
                                       ng-change="vm.verificaRaccoglitore()" 
                                       id="inputInsertRaccoglitore" 
                                       name="inputInsertRaccoglitore" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                    <div class="alert alert-danger" ng-show="vm.raccoglitoreGiaPresente">
                                        <strong>@localizzatore["Raccoglitore già presente!"]</strong> (@localizzatore["Id"]: {{vm.raccoglitoreDoppio.id}})
                                    </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset" class="btn btn-outline-primary" ng-click="vm.annullaInserimento()">@localizzatore["Annulla"]</button>
                                        <button type="submit" class="btn btn-success" ng-click="vm.inserisciRaccoglitore()" ng-disabled="vm.pulsanteInsertDisabilitato">@localizzatore["Inserisci"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelEdit" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputEditRaccoglitore" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Modifica Raccoglitore"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputEditRaccoglitore"
                                       ng-change="vm.verificaEditRaccoglitore()"
                                       id="inputEditRaccoglitore"
                                       name="inputEditRaccoglitore" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.raccoglitoreGiaPresente">
                                    <strong>@localizzatore["Raccoglitore già presente!"]</strong> (@localizzatore["Id"]: {{vm.raccoglitoreDoppio.id}})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset" 
                                                class="btn btn-outline-primary" 
                                                ng-click="vm.annullaEdit()">@localizzatore["Annulla"]</button>
                                        <button type="submit" 
                                                class="btn btn-success" 
                                                ng-click="vm.editRaccoglitore()" 
                                                ng-disabled="vm.pulsanteEditDisabilitato">@localizzatore["Modifica"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelCancella" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-2 col-lg-offset-2 control-label text-danger">@localizzatore["Cancella Raccoglitore"]:</label>
                            <div class="col-lg-3" >
                                <h4>{{vm.raccoglitoreDaCancellare}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.raccoglitorenonCancellabile">
                                    <strong>@localizzatore["Impossibile cancellare il Raccoglitore!"]</strong> (@localizzatore["Già associato a taxa"])
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset"
                                                class="btn btn-outline-primary"
                                                ng-click="vm.annullaCancella()">
                                            @localizzatore["Annulla"]
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-danger"
                                                    ng-click="vm.cancellaRaccoglitore()"
                                                    ng-show="vm.pulsanteCancellaVisibile">
                                                @localizzatore["Cancella"]
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table datatable="ng"
                   class="table table-striped table-bordered table-hover"
                   id="tabellaRaccoglitori"
                   dt-options="vm.opzioniTabellaRaccoglitori"
                   dt-column-defs="vm.colonneTabellaRaccoglitori">
                <thead>
                    <tr>
                        <th>@localizzatore["Id"]</th>
                        <th>@localizzatore["Raccoglitore"]</th>
                        <th>@localizzatore["Azioni"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="raccoglitore in vm.raccoglitori">
                        <td>{{raccoglitore.id}}</td>
                        <td>{{raccoglitore.raccoglitore}}</td>
                        <td>
                            @if (await autorizzatore.AuthorizeAsync(User, "EditAnagraficaRaccoglitori"))
                            {
                                <a class="btn btn-sm btn-success text-white"
                                   ng-click="vm.apriPannelloEdit(raccoglitore)"
                                   ng-hide="raccoglitore.raccoglitore == '-'">
                                    <i class="fa fa-pencil"></i>&nbsp;@localizzatore["Modifica"]
                                </a><text>&nbsp; &nbsp; &nbsp;</text>
                                <a class="btn btn-sm btn-danger"
                                   ng-click="vm.apriPannelloCancella(raccoglitore)"
                                   ng-hide="raccoglitore.raccoglitore == '-'"
                                   >
                                    <i class="fa fa-trash"></i><text>&nbsp;</text>@localizzatore["Cancella"]
                                </a>
                            }

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>