
@{
    ViewBag.Title = localizzatore["Anagrafica Spedizioni"];
}
@section css {

}

@section scripts {

    <script src="~/js/anagraficaSpedizioniController.js"></script>

}
<div ng-app="papero-app" ng-controller="anagraficaSpedizioniController as vm">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        @localizzatore["Spedizioni"]&nbsp;&nbsp;&nbsp;
                        @if (await autorizzatore.AuthorizeAsync(User, "EditAnagraficaSpedizioni"))
                        {
                            <a href="#" class="btn btn-success" ng-click="vm.apriPannelloInserimento()" ng-show="vm.pulsanteInserimentoVisibile"><i class="fa fa-plus"></i> @localizzatore["Nuova"]</a>
                        }

                    </div>
                </div>
                <div id="panelInserimento" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputInsertSpedizione" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Inserisci nuova Spedizione"]:</label>
                            <div class="col-lg-3">
                                <input type="text" 
                                       class="form-control" 
                                       ng-model="vm.inputInsertSpedizione" 
                                       ng-change="vm.verificaSpedizione()" 
                                       id="inputInsertSpedizione" 
                                       name="inputInsertSpedizione" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                    <div class="alert alert-danger" ng-show="vm.spedizioneGiaPresente">
                                        <strong>@localizzatore["Spedizione già presente!"]</strong> (@localizzatore["Id"]: {{vm.spedizioneDoppia.id}})
                                    </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset" class="btn btn-outline-primary" ng-click="vm.annullaInserimento()">@localizzatore["Annulla"]</button>
                                        <button type="submit" class="btn btn-success" ng-click="vm.inserisciSpedizione()" ng-disabled="vm.pulsanteInsertDisabilitato">@localizzatore["Inserisci"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelEdit" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputEditSpedizione" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Modifica Spedizione"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputEditSpedizione"
                                       ng-change="vm.verificaEditSpedizione()"
                                       id="inputEditSpedizione"
                                       name="inputEditSpedizione" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.spedizioneGiaPresente">
                                    <strong>@localizzatore["Spedizione già presente!"]</strong> (@localizzatore["Id"]: {{vm.spedizioneDoppia.id}})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset" 
                                                class="btn btn-outline-primary" 
                                                ng-click="vm.annullaEdit()">@localizzatore["Annulla"]</button>
                                        <button type="submit" 
                                                class="btn btn-success" 
                                                ng-click="vm.editSpedizione()" 
                                                ng-disabled="vm.pulsanteEditDisabilitato">@localizzatore["Modifica"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelCancella" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-2 col-lg-offset-2 control-label text-danger">@localizzatore["Cancella Spedizione"]:</label>
                            <div class="col-lg-3" >
                                <h4>{{vm.spedizioneDaCancellare}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.spedizionenonCancellabile">
                                    <strong>@localizzatore["Impossibile cancellare la Spedizione!"]</strong> (@localizzatore["Già associata a taxa"])
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset"
                                                class="btn btn-outline-primary"
                                                ng-click="vm.annullaCancella()">
                                            @localizzatore["Annulla"]
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-danger"
                                                    ng-click="vm.cancellaSpedizione()"
                                                    ng-show="vm.pulsanteCancellaVisibile">
                                                @localizzatore["Cancella"]
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table datatable="ng"
                   class="table table-striped table-bordered table-hover"
                   id="tabellaSpedizioni"
                   dt-options="vm.opzioniTabellaSpedizioni"
                   dt-column-defs="vm.colonneTabellaSpedizioni">
                <thead>
                    <tr>
                        <th>@localizzatore["Id"]</th>
                        <th>@localizzatore["Spedizione"]</th>
                        <th>@localizzatore["Azioni"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="spedizione in vm.spedizioni">
                        <td>{{spedizione.id}}</td>
                        <td>{{spedizione.spedizione}}</td>
                        <td>
                            @if (await autorizzatore.AuthorizeAsync(User, "EditAnagraficaSpedizioni"))
                            {
                                <a class="btn btn-sm btn-success text-white"
                                   ng-click="vm.apriPannelloEdit(spedizione)"
                                   ng-hide="spedizione.spedizione == '-'">
                                    <i class="fa fa-pencil"></i>&nbsp;@localizzatore["Modifica"]
                                </a><text>&nbsp; &nbsp; &nbsp;</text>
                                <a class="btn btn-sm btn-danger"
                                   ng-click="vm.apriPannelloCancella(spedizione)"
                                   ng-hide="spedizione.spedizione == '-'"
                                   >
                                    <i class="fa fa-trash"></i><text>&nbsp;</text>@localizzatore["Cancella"]
                                </a>
                            }

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>