

<!DOCTYPE html>
<html>

<head>
    <title>Papero - @ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- MetisMenu CSS -->
    <link href="~/lib/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/lib/brd-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Morris Charts CSS -->
    <!--<link href="~/lib/brd-sb-admin-2/vendor/morrisjs/morris.css" rel="stylesheet" />-->

    <!-- Custom Fonts -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    @RenderSection("css", false)


</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">



            <div class="navbar-header">
                <a class="navbar-brand">PAPERO</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <div>
                            <i class="fa fa-language fa-lg"></i> <i class="fa fa-caret-down"></i>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-controller="Papero"
                               asp-action="ImpostaLingua"
                               asp-route-lingua="it"
                               asp-route-indirizzoRitorno="@Context.Request.Path">
                                <i class="fa fa-flag fa-fw"></i> @localizzatore["Italiano"]
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Papero"
                               asp-action="ImpostaLingua"
                               asp-route-lingua="en-US"
                               asp-route-indirizzoRitorno="@Context.Request.Path">
                                <i class="fa fa-flag-checkered fa-fw"></i> @localizzatore["Inglese"]
                            </a>
                        </li>
                    </ul>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <div>
                                <i class="fa fa-user fa-lg"></i> <i class="fa fa-caret-down"></i>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="text-center">@User.Identity.Name</li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-user fa-fw"></i> @localizzatore["Profilo Utente"]</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-gear fa-fw"></i> @localizzatore["Impostazioni"]</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a asp-controller="Auth" asp-action="Logout"><i class="fa fa-sign-out fa-fw"></i> @localizzatore["Logout"]</a>
                            </li>
                        </ul>
                    </li>
                }

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <div>
                            <i class="fa fa-envelope fa-lg"></i> <i class="fa fa-caret-down"></i>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a asp-controller="Papero" asp-action="Contatti"><i class="fa fa-envelope-open fa-fw"></i> @localizzatore["Contatti"]</a>
                        </li>
                        <li>
                            <a asp-controller="Papero" asp-action="Info"> <i class="fa fa-question-circle fa-fw"></i> @localizzatore["Info su Papero"]</a>
                        </li>

                    </ul>
                </li>

            </ul>


            @if (User.Identity.IsAuthenticated)
            {
                <div class="navbar-default sidebar" role="navigation" id="menuPrincipale">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li><a href="#"><i class="fa fa-sitemap fa-fw"></i> @localizzatore["Tassonomia"]</a></li>
                            <li><a href="#"><i class="fa fa-tags fa-fw"></i> @localizzatore["Esemplari"]</a></li>
                            <li>
                                <a href="#"><i class="fa fa-vcard-o fa-fw"></i> @localizzatore["Anagrafiche"]<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="panels-wells.html">Panels and Wells</a>
                                    </li>
                                    <li>
                                        <a href="buttons.html">Buttons</a>
                                    </li>
                                    <li>
                                        <a href="notifications.html">Notifications</a>
                                    </li>
                                    <li>
                                        <a href="typography.html">Typography</a>
                                    </li>
                                    <li>
                                        <a href="icons.html"> Icons</a>
                                    </li>
                                    <li>
                                        <a href="grid.html">Grid</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            }

        </nav>

        <div id="footer" class="container-fluid">
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="text-center text-info"><a asp-controller="Papero" asp-action="About">&copy; 2016 @localizzatore["Museo di Storia Naturale 'Giacomo Doria' - Genova"]</a></div>
            </div>
        </div>


        <div id="page-wrapper">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>



    <script src="~/lib/brd-sb-admin-2/vendor/jquery/jquery.min.js"></script>

    @RenderSection("scripts", false)

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!--<script src="~/lib/brd-sb-admin-2/vendor/raphael/raphael.min.js"></script>
    <script src="~/lib/brd-sb-admin-2/vendor/morrisjs/morris.min.js"></script>
    <script src="~/lib/brd-sb-admin-2/data/morris-data.js"></script>-->
    <!-- Custom Theme JavaScript -->
    <script src="~/lib/brd-sb-admin-2/dist/js/sb-admin-2.js"></script>

</body>

</html>