

<!DOCTYPE html>
<html>

<head>
    <title>Papero - @ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/coreui/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/lib/coreui/css/style.css" rel="stylesheet" />

    @RenderSection("css", false)


</head>

<body class="navbar-fixed sidebar-nav fixed-nav">

    <header class="navbar">
        <div class="container-fluid">
            <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">☰</button>
            <div class="navbar-brand text-primary"><a class="nav-link navbar-toggler layout-toggler" href="#">☰</a>&nbsp;&nbsp;&nbsp;Papero&nbsp;&nbsp;&nbsp;</div>
        </div>

    </header>




        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-sitemap fa-fw"></i> @localizzatore["Tassonomia"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-tags fa-fw"></i> @localizzatore["Esemplari"]</a>
                    </li>
                    <li class="nav-item nav-dropdown active">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="fa fa-vcard-o fa-fw"></i>@localizzatore["Anagrafiche"]<i class="fa arrow"></i></a>
                        <ul class="nav-dropdown-items">
                            <li><a class="nav-link text-right" href="#">Uno</a></li>
                            <li><a class="nav-link text-right" href="#">Due</a></li>
                            <li><a class="nav-link text-right" href="#">Tre</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>



        <footer class="footer">
            <div class="text-center">&copy; 2016 @localizzatore["Museo di Storia Naturale 'Giacomo Doria' - Genova"]</div>
        </footer>



        <!-- Main content -->
        <main class="main">


            <div class="container-fluid">


                @RenderBody()

            </div>

        </main>






        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="~/lib/pace/pace.min.js"></script>
        <script src="~/lib/coreui/js/app.js"></script>

        @RenderSection("scripts", false)
</body>

</html>