@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService autorizzatore
<!DOCTYPE html>
<html>

<head>
    <title>Papero - @ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="apple-touch-icon" sizes="57x57" href="~/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicons/favicon-16x16.png">
    <meta name="msapplication-TileImage" content="~/img/favicons/ms-icon-144x144.png">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
          crossorigin="anonymous" 
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" 
          asp-fallback-test-property="position" 
          asp-fallback-test-value="absolute"
          rel="stylesheet" >

    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-tree-control/0.2.28/css/tree-control.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-tree-control/0.2.28/css/tree-control-attribute.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/fh-3.1.2/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

    <script src="https://use.fontawesome.com/6cbc9821e8.js"
            asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
            asp-fallback-test-class="sr-only" 
            asp-fallback-test-property="position" 
            asp-fallback-test-value="absolute"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-flash.css" rel="stylesheet"/>
    <link href="~/lib/coreui/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/angular-ui-select/dist/select.min.css" />

    @RenderSection("css", false)

</head>

<body class="navbar-fixed sidebar-nav fixed-nav">

    <header class="navbar">
        <div class="container-fluid">
            <div class="navbar-brand text-primary">
                <a class="nav-link navbar-toggler layout-toggler" href="#">
                    <span data-toggle="tooltip"
                          data-placement="right"
                          title="@localizzatore["Mostra/Nascondi Menu"]"><i class="fa fa-bars"></i></span>
                </a><span><img class="align-top" src="~/img/logo_museo_trasparente.png" height="50px" />&nbsp;&nbsp;Papero&nbsp;&nbsp;<img src="~/img/papero_logo_piccolo.png" /></span>
            </div>

            <ul class="nav navbar-nav pull-right hidden-md-down">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-link"
                       data-toggle="dropdown"
                       href="#"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <span class="hidden-md-down"><i class="fa fa-language fa-lg"></i> @localizzatore["Lingua"]</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"
                           asp-controller="Papero"
                           asp-action="ImpostaLingua"
                           asp-route-lingua="it"
                           asp-route-indirizzoRitorno="@Context.Request.Path">
                            <img src="~/img/flags/Italy.png" style="width: 20px;" /> @localizzatore["Italiano"]
                        </a>
                        <a class="dropdown-item"
                           asp-controller="Papero"
                           asp-action="ImpostaLingua"
                           asp-route-lingua="en-US"
                           asp-route-indirizzoRitorno="@Context.Request.Path">
                            <img src="~/img/flags/United-Kingdom.png" style="width: 20px;" /> @localizzatore["Inglese"]
                        </a>
                        <a class="dropdown-item"
                           asp-controller="Papero"
                           asp-action="ImpostaLingua"
                           asp-route-lingua="fr"
                           asp-route-indirizzoRitorno="@Context.Request.Path">
                            <img src="~/img/flags/France.png" style="width: 20px;" /> @localizzatore["Francese"]
                        </a>
                    </div>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link"
                           data-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <span class="hidden-md-down"><i class="fa fa-user fa-lg"></i> @User.Identity.Name</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item"
                               asp-controller="Papero"
                               asp-action="Contatti">
                                <i class="fa fa-envelope fa-fw"></i> @localizzatore["Contatti"]
                            </a>
                            <a class="dropdown-item"
                               asp-controller="Papero"
                               asp-action="Info">
                                <i class="fa fa-info-circle fa-fw"></i> @localizzatore["Info su Papero"]
                            </a>
                            <a class="dropdown-item"
                               asp-controller="Auth"
                               asp-action="Logout">
                                <i class="fa fa-sign-out fa-fw"></i> @localizzatore["Logout"]
                            </a>
                        </div>
                    </li>
                 }
            </ul>
        </div>
    </header>

    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-sitemap fa-fw"></i> @localizzatore["Tassonomia"]
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Papero" asp-action="ElencoEsemplari">
                        <i class="fa fa-tags fa-fw"></i> @localizzatore["Esemplari"]
                    </a>
                </li>
                @if ((await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaClassificatori"))
                     ||
                     (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaCollezioni"))
                     ||
                     (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaSpedizioni"))
                     ||
                     (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaRaccoglitori"))
                     ||
                     (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaDeterminatori"))
                     ||
                     (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaPreparatori"))
                     ||
                     (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaCollocazione"))
                     ||
                     (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaGeografia"))
                    )
                {
                    <li class="nav-item nav-dropdown active">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="fa fa-vcard-o fa-fw"></i>@localizzatore["Anagrafiche"]<i class="fa arrow"></i>
                        </a>
                        <ul class="nav-dropdown-items">
                            @if (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaClassificatori"))
                            {
                                <li>
                                    <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Classificatori">@localizzatore["Classificatori"]</a>
                                </li>
                            }

                            @if (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaCollezioni"))
                            {
                                <li>
                                    <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Collezioni">@localizzatore["Collezioni"]</a>
                                </li>
                            }
                            @if (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaDeterminatori"))
                            {
                                <li>
                                    <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Determinatori">@localizzatore["Determinatori"]</a>
                                </li>
                            }
                            @if (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaPreparatori"))
                            {
                                <li>
                                    <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Preparatori">@localizzatore["Preparatori"]</a>
                                </li>
                            }
                            @if (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaRaccoglitori"))
                            {
                                <li>
                                    <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Raccoglitori">@localizzatore["Raccoglitori"]</a>
                                </li>
                            }
                            @if (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaSpedizioni"))
                            {
                                <li>
                                    <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Spedizioni">@localizzatore["Spedizioni"]</a>
                                </li>
                            }
                            @if (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaCollocazione"))
                            {
                                <li class="nav-item nav-dropdown active text-right">
                                    <a class="nav-link nav-dropdown-toggle" href="#">
                                        <i class="fa fa-university fa-fw"></i>@localizzatore["Collocazione"]<i class="fa arrow"></i>
                                    </a>
                                    <ul class="nav-dropdown-items">
                                        <li>
                                            <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Sale">@localizzatore["Sale"]</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Armadi">@localizzatore["Armadi"]</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Cassetti">@localizzatore["Cassetti"]</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Vassoi">@localizzatore["Vassoi"]</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (await autorizzatore.AuthorizeAsync(User, "VisualizzaAnagraficaGeografia"))
                            {
                                <li class="nav-item nav-dropdown active text-right">
                                    <a class="nav-link nav-dropdown-toggle" href="#">
                                        <i class="fa fa-globe fa-fw"></i>@localizzatore["Geografia"]<i class="fa arrow"></i>
                                    </a>
                                    <ul class="nav-dropdown-items">
                                        <li>
                                            <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Nazioni">@localizzatore["Nazioni"]</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Regioni">@localizzatore["Regioni"]</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Province">@localizzatore["Province"]</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Citta">@localizzatore["Città"]</a>
                                        </li>
                                        <li>
                                            <a class="nav-link text-right" asp-controller="Anagrafiche" asp-action="Localita">@localizzatore["Località"]</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>
                }

            </ul>



        </nav>
    </div>
    <footer class="footer">
        <div class="text-center">&copy; 2016-@(DateTime.Now.Year.ToString()) #TeamPapero - @localizzatore["Museo di Storia Naturale 'Giacomo Doria' - Genova"]</div>
    </footer>

    <main class="main">
        <div class="container-fluid">

            @RenderBody()

        </div>
    </main>

    <script>
        var linguaPapero = "@System.Globalization.CultureInfo.CurrentCulture.Name";
        var stringaLinguaggioDatatables = "@localizzatore["linguaggioDatatables"]";
    </script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <script src="~/lib/coreui/js/app.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"
            asp-fallback-src="~/lib/angular/angular.min.js"
            asp-fallback-test="window.angular"></script>
    <script src="~/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/lib/angular-tree-control/angular-tree-control.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/fh-3.1.2/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.5/angular-datatables.min.js"></script>
    <script src="~/lib/angular-ui-select/dist/select.min.js"></script>

    <script src="~/js/papero-app.js"></script>
    <script src="~/js/funzioni.js"></script>

    @RenderSection("scripts", false)

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        });
    </script>

</body>

</html>