@*
    DettaglioEsemplare
    Vista che mostra la scheda di dettaglio del singolo esemplare
*@

@using Papero.Funzioni

@model Papero.ViewModels.DettaglioEsemplareViewModel

@{
    ViewBag.Title = localizzatore["Dettaglio Esemplare"];
}

@*
Questo css online serve per invertire il modo in cui dt e dd mostrano il loro contenuto. I dt diventano testo normale
mentre i dd diventano testo in grassetto.    
*@
@section css {
    <style type="text/css">
        dt { font-weight: normal; }
        dd { font-weight: bold; }
        .dl-horizontal dt {  white-space: normal; }
    </style>
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-2">
                        <form asp-controller="Papero"
                              asp-action="DettaglioEsemplareByMSNG">
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control form-control-lg" asp-for="Msng">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-lg" type="submit">@localizzatore["MSNG"]</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

@*
                    Il render della pagina viene effettuato solo se l'ID passato è valido. In caso contrario viene visualizzato un messaggio di errore.
*@
                    @if (ViewBag.trovato)
                    {
                        <div class="col-lg-4">
                            <h4>
                                @(Model.Sottospecie.Specie.Genere.Nome +
                                  " " +
                                  Model.Sottospecie.Specie.Nome +
                                  " " +
                                  (Model.Sottospecie.Nome == "-" ?
                                   "" :
                                   Model.Sottospecie.Nome) + " " + @funzioni.elencoAutori(Model.Sottospecie.Classificazioni, (bool)Model.Sottospecie.ClassificazioneOriginale, Model.Sottospecie.AnnoClassificazione))
                            </h4>
                        </div>

                        <div class="col-lg-2">
                            <dl class="dl-horizontal text-white">
                                <dt>@localizzatore["Famiglia"]:</dt>
                                <dd>@Model.Sottospecie.Specie.Genere.Tribu.Sottofamiglia.Famiglia.Nome</dd>
                                <dt>@localizzatore["Sottofamiglia"]:</dt>
                                <dd>@Model.Sottospecie.Specie.Genere.Tribu.Sottofamiglia.Nome</dd>
                                <dt>@localizzatore["Tribu"]:</dt>
                                <dd>@Model.Sottospecie.Specie.Genere.Tribu.Nome</dd>
                            </dl>
                        </div>

                        <div class="col-lg-4">
                            <dl class="dl-horizontal text-white">
                                <dt>@localizzatore["Nome Italiano"]:</dt>
                                <dd>@Model.Sottospecie.NomeItaliano</dd>
                                <dt>@localizzatore["Nome Inglese"]:</dt>
                                <dd>@Model.Sottospecie.NomeInglese</dd>
                                <dt>@localizzatore["Stato di Conservazione"]:</dt>
                                <dd>
                                    @(string.IsNullOrWhiteSpace(Model.Sottospecie.StatoConservazione.StatoConservazione) || Model.Sottospecie.StatoConservazione.StatoConservazione == "-"
                                    ? ""
                                    : Model.Sottospecie.StatoConservazione.StatoConservazione + " (" + Model.Sottospecie.StatoConservazione.Sigla + ")")
                                </dd>
                            </dl>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-10">
                            <h4>@localizzatore["Codice MSNG non presente!"]</h4>
                        </div>
                    }
                </div>
            </div>

            @if (ViewBag.trovato)
            {
                <div class="panel-body" style="max-height: 80vh; overflow-y: scroll">

                    <div class="row">

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["NCU"]:</dt>
                            <dd>@Model.Ncu</dd>
                            <dt>@localizzatore["Lettera"]:</dt>
                            <dd>@Model.LetteraEsemplare</dd>
                            <dt>@localizzatore["Numero"]:</dt>
                            <dd>@Model.NumeroEsemplare</dd>
                            <dt>@localizzatore["Scheda"]:</dt>
                            <dd>@Model.Scheda</dd>
                            <dt>@localizzatore["Presenza"]:</dt>
                            <dd>@((bool)Model.Presenza ? localizzatore["Sì"] : localizzatore["No"])</dd>
                            <dt>@localizzatore["Sesso"]:</dt>
                            <dd>@localizzatore[Model.Sesso.Sesso]</dd>
                            <dt>@localizzatore["Tipo"]:</dt>
                            <dd>@Model.Tipo.Tipo</dd>
                            <dt>@localizzatore["Aberrazione"]:</dt>
                            <dd>@localizzatore[Model.Aberrazione.Aberrazione]</dd>
                        </dl>

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Data di Preparazione"]:</dt>
                            <dd>@funzioni.leggiData(Model.DataPreparazione)</dd>
                            <dt>@localizzatore["Preparatori"]:</dt>
                            <dd>
                                <ul class="list-unstyled">
                                    @foreach (var preparatore in Model.Preparazioni.OrderBy(preparatore => preparatore.Ordinamento))
                                    {
                                        <li>@(preparatore.Preparatore.Nome + " " + preparatore.Preparatore.Cognome)</li>
                                    }
                                </ul>
                            </dd>
                            <dt>@localizzatore["Modo di Preparazione"]:</dt>
                            <dd>
                                <ul class="list-unstyled">
                                    @foreach (var preparato in Model.Preparati.OrderBy(preparato => preparato.Ordinamento))
                                    {
                                        <li>@(preparato.Parte.Parte + " (" + preparato.Vassoio.Cassetto.Armadio.Sala.Sala + ", " + preparato.Vassoio.Cassetto.Armadio.Armadio + ", " + preparato.Vassoio.Cassetto.Cassetto + ", " + preparato.Vassoio.Vassoio + ")")</li>
                                    }
                                </ul>
                            </dd>
                            <dt>@localizzatore["Note di Preparazione"]:</dt>
                            <dd><textarea rows="4" readonly style="resize:none; border:none;">@Model.NotePreparazione</textarea></dd>
                        </dl>

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Data di Cattura"]:</dt>
                            <dd>@funzioni.leggiData(Model.DataCattura)</dd>
                            <dt>@localizzatore["Data Corretta"]:</dt>
                            <dd>@Model.DataCatturaCorretta</dd>
                            <dt>@localizzatore["Avuto da"]:</dt>
                            <dd>@Model.AvutoDa.Raccoglitore</dd>
                            <dt>@localizzatore["Legit"]:</dt>
                            <dd>@Model.Legit.Raccoglitore</dd>
                            <dt>@localizzatore["Tipo Acquisizione"]:</dt>
                            <dd>@Model.TipoAcquisizione.TipoAcquisizione</dd>
                            <dt>@localizzatore["Data Acquisizione"]:</dt>
                            <dd>@funzioni.leggiData(Model.DataAcquisizione)</dd>
                            <dt>@localizzatore["Località di Cattura"]:</dt>

@*
                            I parametri del dd servono per far comparire il popover di localizzazione geografica cliccando sulla località. tabindex=0 è un workaround per un bug di Bootstrap
                            altrimenti data-trigger=focus non funzionebbe. Mettere tabindex obbliga anche ad aggiungere style=outline:none altrimenti si vedrebbe
                            una antiestetica cornice attorno all'elemento. data-html=true è importante perché c'è codice html all'interno del data-content.
                            La serie di if-elseif visualizza il primo elemento "non-trattino" nella localizzazione geografica (il più dettagliato).
*@
                            <dd data-toggle="popover"
                                data-html="true"
                                data-placement="auto"
                                tabindex="0"
                                data-trigger="focus"
                                style="outline:none;cursor:pointer;"
                                data-content="@localizzatore["Nazione"]: <b>@(Model.LocalitaCattura.Citta.Provincia.Regione.Nazione.Nazione)</b><br>
                                          @localizzatore["Regione"]: <b>@(Model.LocalitaCattura.Citta.Provincia.Regione.Regione)</b><br>
                                          @localizzatore["Provincia"]: <b>@(Model.LocalitaCattura.Citta.Provincia.Provincia)</b><br>
                                          @localizzatore["Città"]: <b>@(Model.LocalitaCattura.Citta.NomeCitta)</b>">
                                        @{
                                            if (Model.LocalitaCattura.Citta.Provincia.Regione.Regione == "-")
                                            {
                                                @Model.LocalitaCattura.Citta.Provincia.Regione.Nazione.Nazione
                                            }
                                            else if (Model.LocalitaCattura.Citta.Provincia.Provincia == "-")
                                            {
                                                @Model.LocalitaCattura.Citta.Provincia.Regione.Regione
                                            }
                                            else if (Model.LocalitaCattura.Citta.NomeCitta == "-")
                                            {
                                                @Model.LocalitaCattura.Citta.Provincia.Provincia
                                            }
                                            else if (Model.LocalitaCattura.NomeLocalita == "-")
                                            {
                                                @Model.LocalitaCattura.Citta.Provincia
                                            }
                                            else
                                            {
                                                @Model.LocalitaCattura.NomeLocalita
                                            }
                                        }
                        </dd>
                            <dt>@localizzatore["Collezione"]:</dt>
                            <dd>@Model.Collezione.Collezione</dd>
                            <dt>@localizzatore["Spedizione"]:</dt>
                            <dd>@Model.Spedizione.Spedizione</dd>
                        </dl>



                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Data di Determinazione"]:</dt>
                            <dd>@funzioni.leggiData(Model.DataDeterminazione)</dd>
                            <dt>@localizzatore["Determinatori"]:</dt>
                            <dd>
                                <ul class="list-unstyled">
                                    @foreach (var determinatore in Model.Determinazioni.OrderBy(det => det.Ordinamento))
                                    {
                                        <li>@(determinatore.Determinatore.Nome + " " + determinatore.Determinatore.Cognome)</li>
                                    }
                                </ul>

                            </dd>
                            <dt>@localizzatore["Vecchie Determinazioni"]:</dt>
                            <dd style="max-height:150px;overflow-y:auto;">
                                <ul class="list-unstyled">
                                    @foreach (var determinazione in Model.VecchieDeterminazioni.OrderBy(det => det.Ordinamento))
                                    {
                                        <li>@(determinazione.VecchiaDeterminazione)</li>
                                        <ol>
                                            @foreach (var vecchioDeterminatore in determinazione.VecchiDeterminatori.OrderBy(det => det.Ordinamento))
                                            {
                                                <li>@(vecchioDeterminatore.Determinatore.Nome + " " + vecchioDeterminatore.Determinatore.Cognome)</li>
                                            }
                                        </ol>
                                    }
                                </ul>
                            </dd>
                        </dl>
                    </div>

                    <div class="row">

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Contenuto Stomaco"]:</dt>
                            <dd>@Model.ContenutoStomaco</dd>
                            <dt>@localizzatore["Contenuto Ingluvie"]:</dt>
                            <dd>@Model.ContenutoIngluvie</dd>
                            <dt>@localizzatore["Inanellato"]:</dt>
                            <dd>@((bool)Model.Inanellato ? localizzatore["Sì"] : localizzatore["No"])</dd>
                            <dt>@localizzatore["Dati Anello"]:</dt>
                            <dd>@Model.DatiAnello</dd>
                        </dl>

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Formula Alare E"]:</dt>
                            <dd>@Model.FormulaAlareE</dd>
                            <dt>@localizzatore["Formula Alare WP"]:</dt>
                            <dd>@Model.FormulaAlareWp</dd>
                            <dt>@localizzatore["Formula Alare 2"]:</dt>
                            <dd>@Model.FormulaAlare2</dd>
                            <dt>@localizzatore["Timoniere Esterne"]:</dt>
                            <dd>@Model.TimoniereEsterne</dd>
                            <dt>@localizzatore["Timoniere Centrali"]:</dt>
                            <dd>@Model.TimoniereCentrali</dd>
                        </dl>

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Colore Zampe"]:</dt>
                            <dd>@Model.ColoreZampe</dd>
                            <dt>@localizzatore["Tarso"]:</dt>
                            <dd>@Model.Tarso</dd>
                            <dt>@localizzatore["Remigante 3"]:</dt>
                            <dd>@Model.Remigante3</dd>
                            <dt>@localizzatore["Ala"]:</dt>
                            <dd>@Model.Ala</dd>
                            <dt>@localizzatore["Colore Becco"]:</dt>
                            <dd>@Model.ColoreBecco</dd>
                            <dt>@localizzatore["Culmine"]:</dt>
                            <dd>@Model.Culmine</dd>
                        </dl>

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Becco-Cranio"]:</dt>
                            <dd>@Model.BeccoCranio</dd>
                            <dt>@localizzatore["Colore Iride"]:</dt>
                            <dd>@Model.ColoreIride</dd>
                            <dt>@localizzatore["Dimensione Occhio"]:</dt>
                            <dd>@Model.DimensioneOcchio</dd>
                            <dt>@localizzatore["Apertura Alare"]:</dt>
                            <dd>@Model.AperturaAlare</dd>
                            <dt>@localizzatore["Lunghezza Totale"]:</dt>
                            <dd>@Model.LunghezzaTotale</dd>
                            <dt>@localizzatore["Peso"]:</dt>
                            <dd>@Model.Peso</dd>
                        </dl>

                    </div>

                    <div class="row">

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Bibliografia"]:</dt>
                            <dd>@Model.Bibliografia</dd>
                        </dl>

                        <dl class="col-lg-9 dl-horizontal text-primary">
                            <dt>@localizzatore["Note"]:</dt>
                            <dd>
                                <textarea rows="4"
                                          cols="80"
                                          width="100%"
                                          readonly
                                          style="resize:none; border:none;">
                                    @Model.Note
                                </textarea>
                            </dd>
                        </dl>

                    </div>
                </div>
    }
        </div>
    </div>
</div>