@*
    DettaglioEsemplare
    Vista che mostra la scheda di dettaglio del singolo esemplare
*@

@using Papero.Funzioni

@model Papero.ViewModels.DettaglioEsemplareViewModel

@{
    ViewBag.Title = localizzatore["Dettaglio Esemplare"];
}

@*
    Questo css online serve per invertire il modo in cui dt e dd mostrano il loro contenuto. I dt diventano testo normale
    mentre i dd diventano testo in grassetto.
*@
@section css {

<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-tree-control/0.2.28/css/tree-control.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-tree-control/0.2.28/css/tree-control-attribute.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/fh-3.1.2/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.css" />

    <style type="text/css">
        dt { font-weight: normal; }
        dd { font-weight: bold; }
        .dl-horizontal dt { white-space: normal; }
    </style>
}

@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"
            asp-fallback-src="~/lib/angular/angular.min.js"
            asp-fallback-test="window.angular"></script>

<script src="~/lib/angular-tree-control/angular-tree-control.js"></script>

    <script src="~/js/papero-app.js"></script>
    <script src="~/js/modaleNomiController.js"></script>
    <script src="~/js/modaleElencoAutoriController.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/fh-3.1.2/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.5/angular-datatables.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

<div class="row" ng-app="papero-app">
    <div class="col-lg-12">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-2">
                        <form asp-controller="Papero"
                              asp-action="DettaglioEsemplareByMSNG">
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control form-control-lg" asp-for="Msng">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-lg" type="submit">@localizzatore["MSNG"]</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    @*
                        Il render della pagina viene effettuato solo se l'ID passato è valido. In caso contrario viene visualizzato un messaggio di errore.
                    *@
                    @if (ViewBag.trovato)
                    {
                        <div class="col-lg-4" ng-controller="modaleElencoAutoriController as vm">

                            <input type="hidden" id="inputIdSottospecie" value="@Model.Sottospecie.Id" />


                            <div class="modal fade" id="modaleElencoAutori" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-body">

                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">@localizzatore["Inserire i nuovi valori"]:<i role="button" class="fa fa-close fa-pull-right text-white" data-dismiss="modal"></i></h3>
                                                </div>
                                                <div class="panel-body text-primary">

                                                    <form class="form-horizontal" 
                                                          id="formElencoAutori" 
                                                          name="formElencoAutori"
                                                          asp-controller="Papero"
                                                          asp-action="AggiornaAutori">
                                                        <fieldset>
                                                            <input type="hidden" id="sottospeciehiddenElencoAutori" asp-for="SottospecieId" value="@Model.Sottospecie.Id" />
                                                            <input type="hidden" id="esemplarehiddenElencoAutori" asp-for="Id" value="@Model.Id" />
                                                            <input type="hidden" id="parametroElencoAutori" name="parametroElencoAutori" />
                                                            <div class="form-group text-center">
                                                                <h3>
                                                                    <span class="text-muted">
                                                                        @(Model.Sottospecie.Specie.Genere.Nome +
                                                                        " " +
                                                                        Model.Sottospecie.Specie.Nome +
                                                                        " " +
                                                                        (Model.Sottospecie.Nome == "-" ? "" : Model.Sottospecie.Nome))
                                                                    </span>
                                                                <br />
                                                                    <span class="text-primary">{{vm.stringaElencoAutori}}</span>
                                                                </h3>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputAnnoClassificazione" class="col-lg-3 col-lg-offset-2 control-label text-primary">@localizzatore["Anno Classificazione"]:</label>
                                                                <div class="col-lg-2">
                                                                    <input type="hidden" id="annoClassificazioneDB" name="annoClassificazioneDB" value="@Model.Sottospecie.AnnoClassificazione" />
                                                                    <input type="number" 
                                                                           min="1700" max="2100" 
                                                                           class="form-control" 
                                                                           id="inputAnnoClassificazione" 
                                                                           name="inputAnnoClassificazione" 
                                                                           ng-model="vm.annoClassificazione" 
                                                                           value="@Model.Sottospecie.AnnoClassificazione" 
                                                                           ng-change="vm.aggiornaElencoAutori()" required>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputClassificazioneOriginale" class="col-lg-3 col-lg-offset-2 control-label text-primary">@localizzatore["Classificazione Originale"]:</label>
                                                                <div class="col-lg-1">
                                                                    <input type="hidden" 
                                                                           id="classificazioneOriginaleDB" 
                                                                           name="classificazioneOriginaleDB" 
                                                                           value="@((bool)Model.Sottospecie.ClassificazioneOriginale ? "true" : "false")" />
                                                                    <input type="checkbox" 
                                                                           class="form-control" 
                                                                           id="inputClassificazioneOriginale"
                                                                           name="inputClassificazioneOriginale"
                                                                           ng-change="vm.aggiornaElencoAutori()" 
                                                                           ng-model="vm.classificazioneOriginale" 
                                                                           checked="@Model.Sottospecie.ClassificazioneOriginale"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="dropdownAutori" class="col-lg-3 col-lg-offset-2 control-label text-primary">@localizzatore["Classificatore"]:</label>
                                                                <div class="col-lg-4">
                                                                    <select id = "dropdownAutori"
                                                                            class="form-control"
                                                                            ng-model="vm.autoreSelezionato"
                                                                            ng-options="autore.classificatore for autore in vm.datiDropdownAutori track by autore.id"></select>
                                                                </div>
                                                                <div class="col-lg-1">
                                                                    <i role = "button" ng-click="vm.aggiungiAutore()" class="fa fa-plus-square fa-2x text-success"></i>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="col-lg-offset-2 col-lg-8">
                                                                    <div style = "overflow-y:auto; overflow-x:hidden; max-height:300px;" >
                                                                            <input type="hidden" id="tabellaElencoAutoriSerializzata" name="tabellaElencoAutoriSerializzata"/>
                                                                            <table datatable="ng" class="table table-striped table-bordered table-hover text-primary" id="tabellaElencoAutori" dt-options="vm.opzioniTabellaElencoAutori">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>@localizzatore["Ordinamento"]</th>
                                                                                        <th>@localizzatore["Classificatore"]</th>
                                                                                        <th></th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr ng-repeat="autore in vm.datiTabellaAutori">
                                                                                        <td>{{$index+1}}</td>
                                                                                        <td>{{autore.classificatore}}</td>
                                                                                        <td>
                                                                                            <div class="btn-group fa-pull-right">
                                                                                                <i role="button" ng-show="!$first" ng-click="vm.spostaSu($index)" class="fa fa-arrow-up fa-2x text-success"></i>
                                                                                                <i role="button" ng-show="!$last" ng-click="vm.spostaGiu($index)" class="fa fa-arrow-down fa-2x text-success"></i>
                                                                                                <i role="button" ng-click="vm.rimuoviAutore(autore)" class="fa fa-minus-square fa-2x text-danger"></i>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-lg-12">
                                                                    <div class="pull-right">
                                                                        <button type="reset" class="btn btn-outline-primary" data-dismiss="modal">@localizzatore["Annulla"]</button>
                                                                        <button type="submit" class="btn btn-success" ng-disabled="formElencoAutori.$invalid">@localizzatore["Inserisci"]</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <h4>
                                @(Model.Sottospecie.Specie.Genere.Nome +
                                  " " +
                                  Model.Sottospecie.Specie.Nome +
                                  " " +
                                  (Model.Sottospecie.Nome == "-" ? "" : Model.Sottospecie.Nome)) <br />

                                  @Model.Sottospecie.ElencoAutori

                                @if(User.IsInRole("Amministratore"))
                                {
                                    <i role = "button" class="fa fa-pencil text-muted" data-toggle="modal" data-target="#modaleElencoAutori" ng-click="vm.apriModaleElencoAutori(@Model.Sottospecie.Id)"></i>
                                }
                            </h4>
                        </div>

                        <div class="col-lg-2">
                            <div class="card card-outline-primary">
                                <dl class="dl-horizontal text-white">

                                    <dt>@localizzatore["Famiglia"]:</dt>
                                    <dd>@Model.Sottospecie.Specie.Genere.Tribu.Sottofamiglia.Famiglia.Nome</dd>
                                    <dt>@localizzatore["Sottofamiglia"]:</dt>
                                    <dd>@Model.Sottospecie.Specie.Genere.Tribu.Sottofamiglia.Nome</dd>
                                    <dt>@localizzatore["Tribu"]:</dt>
                                    <dd>@Model.Sottospecie.Specie.Genere.Tribu.Nome</dd>
                                </dl>
                            </div>
                        </div>

                        <div class="col-lg-4" ng-controller="modaleNomiController as vm">

                            <div class="modal fade" id="modaleNomi" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-body">

                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">@localizzatore["Inserire i nuovi valori"]:<i role = "button" class="fa fa-close fa-pull-right text-white" data-dismiss="modal"></i></h3>
                                                </div>
                                                <div class="panel-body">

                                                    <form class="form-horizontal"
                                                          asp-controller="Papero"
                                                          asp-action="AggiornaNomi">
                                                        <fieldset>
                                                            <input type = "hidden" id="sottospeciehidden" asp-for="SottospecieId" value="@Model.Sottospecie.Id"/>
                                                            <input type = "hidden" id="esemplarehidden" asp-for="Id" value="@Model.Id"/>
                                                            <div class="form-group">
                                                                <label for="nomeItaliano" class="col-lg-2 control-label text-primary">@localizzatore["Nome Italiano"]:</label>
                                                                <div class="col-lg-10">
                                                                    <input type="text" class="form-control" asp-for="Sottospecie.NomeItaliano" id="nomeItaliano" name="nomeItaliano" value="@Model.Sottospecie.NomeItaliano" ng-model="vm.nomeItaliano">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="nomeInglese" class="col-lg-2 control-label text-primary">@localizzatore["Nome Inglese"]:</label>
                                                                <div class="col-lg-10">
                                                                    <input type = "text" class="form-control" asp-for="Sottospecie.NomeInglese" id="nomeInglese" name="nomeInglese" value="@Model.Sottospecie.NomeInglese" ng-model="vm.nomeInglese">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="statiConservazione" class="col-lg-2 control-label text-primary">@localizzatore["Stato di Conservazione"]:</label>
                                                                <div class="col-lg-10">
                                                                @*
                                                                    Questo input nascosto serve per memorizzare il valore dello stato di conservazione così come arriva dal modello.
                                                                    In seguito, se viene aperta #modaleNomi, viene utilizzato per impostare il valore della select.
                                                                *@
                                                                    <input type="hidden" id="statoConservazioneDB" value="@Model.Sottospecie.StatoConservazioneId" />

                                                                    <select id="statiConservazione"                                                                            
                                                                            name="statoConservazione"
                                                                            class="form-control"
                                                                            ng-model="vm.statoConservazioneSelezionato">
                                                                        <option ng-repeat="statoConservazione in vm.elencoStatiConservazione" ng-selected="statoConservazione.id == statoConservazioneDB.value" value="{{statoConservazione.id}}">{{statoConservazione.statoConservazione}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-lg-12">
                                                                    <div class="pull-right">
                                                                        <button type="reset" class="btn btn-outline-primary" data-dismiss="modal">@localizzatore["Annulla"]</button>
                                                                        <button type="submit" class="btn btn-success" >@localizzatore["Inserisci"]</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-outline-primary">
                                <dl class="dl-horizontal text-white">
                                    <dt>
                                        @if (User.IsInRole("Amministratore"))
                                        {
                                            <i role="button" class="fa fa-pencil fa-pull-left fa-fw text-muted" data-toggle="modal" data-target="#modaleNomi" ng-click="vm.apriModaleNomi()"></i>
                                        }


                                        @localizzatore["Nome Italiano"]:
                                    </dt>
                                    <dd id="nomeItalianoDD">@Model.Sottospecie.NomeItaliano</dd>
                                    <dt>@localizzatore["Nome Inglese"]:</dt>
                                    <dd id="nomeIngleseDD">@Model.Sottospecie.NomeInglese</dd>
                                    <dt>@localizzatore["Stato di Conservazione"]:</dt>
                                    <dd>
                                        @(string.IsNullOrWhiteSpace(Model.Sottospecie.StatoConservazione.StatoConservazione) || Model.Sottospecie.StatoConservazione.StatoConservazione == "-"
                                    ? ""
                                    : Model.Sottospecie.StatoConservazione.StatoConservazione + " (" + Model.Sottospecie.StatoConservazione.Sigla + ")")
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-10">
                            <h4>@localizzatore["Codice MSNG non presente!"]</h4>
                        </div>
                    }
                </div>
            </div>

            @if (ViewBag.trovato)
            {
                <div class="panel-body" style="max-height: 80vh; overflow-y: scroll">

                    <div class="row">

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["NCU"]:</dt>
                            <dd>@Model.Ncu</dd>
                            <dt>@localizzatore["Lettera"]:</dt>
                            <dd>@Model.LetteraEsemplare</dd>
                            <dt>@localizzatore["Numero"]:</dt>
                            <dd>@Model.NumeroEsemplare</dd>
                            <dt>@localizzatore["Scheda"]:</dt>
                            <dd>@Model.Scheda</dd>
                            <dt>@localizzatore["Presenza"]:</dt>
                            <dd>@((bool)Model.Presenza ? localizzatore["Sì"] : localizzatore["No"])</dd>
                            <dt>@localizzatore["Sesso"]:</dt>
                            <dd>@localizzatore[Model.Sesso.Sesso]</dd>
                            <dt>@localizzatore["Tipo"]:</dt>
                            <dd>@Model.Tipo.Tipo</dd>
                            <dt>@localizzatore["Aberrazione"]:</dt>
                            <dd>@localizzatore[Model.Aberrazione.Aberrazione]</dd>
                        </dl>

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Data di Preparazione"]:</dt>
                            <dd>@funzioni.leggiData(Model.DataPreparazione)</dd>
                            <dt>@localizzatore["Preparatori"]:</dt>
                            <dd>
                                <ul class="list-unstyled">
                                    @foreach (var preparatore in Model.Preparazioni.OrderBy(preparatore => preparatore.Ordinamento))
                                    {
                                        <li>@(preparatore.Preparatore.Nome + " " + preparatore.Preparatore.Cognome)</li>
                                    }
                                </ul>
                            </dd>
                            <dt>@localizzatore["Modo di Preparazione"]:</dt>
                            <dd>
                                <ul class="list-unstyled">
                                    @foreach (var preparato in Model.Preparati.OrderBy(preparato => preparato.Ordinamento))
                                    {
                                        <li>@(preparato.Parte.Parte + " (" + preparato.Vassoio.Cassetto.Armadio.Sala.Sala + ", " + preparato.Vassoio.Cassetto.Armadio.Armadio + ", " + preparato.Vassoio.Cassetto.Cassetto + ", " + preparato.Vassoio.Vassoio + ")")</li>
                                    }
                                </ul>
                            </dd>
                            <dt>@localizzatore["Note di Preparazione"]:</dt>
                            <dd><textarea rows="4" readonly style="resize:none; border:none;">@Model.NotePreparazione</textarea></dd>
                        </dl>

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Data di Cattura"]:</dt>
                            <dd>@funzioni.leggiData(Model.DataCattura)</dd>
                            <dt>@localizzatore["Data Corretta"]:</dt>
                            <dd>@Model.DataCatturaCorretta</dd>
                            <dt>@localizzatore["Avuto da"]:</dt>
                            <dd>@Model.AvutoDa.Raccoglitore</dd>
                            <dt>@localizzatore["Legit"]:</dt>
                            <dd>@Model.Legit.Raccoglitore</dd>
                            <dt>@localizzatore["Tipo Acquisizione"]:</dt>
                            <dd>@Model.TipoAcquisizione.TipoAcquisizione</dd>
                            <dt>@localizzatore["Data Acquisizione"]:</dt>
                            <dd>@funzioni.leggiData(Model.DataAcquisizione)</dd>
                            <dt>@localizzatore["Località di Cattura"]:</dt>

                            @*
                                I parametri del dd servono per far comparire il popover di localizzazione geografica cliccando sulla località. tabindex=0 è un workaround per un bug di Bootstrap
                                altrimenti data-trigger=focus non funzionebbe. Mettere tabindex obbliga anche ad aggiungere style=outline:none altrimenti si vedrebbe
                                una antiestetica cornice attorno all'elemento. data-html=true è importante perché c'è codice html all'interno del data-content.
                                La serie di if-elseif visualizza il primo elemento "non-trattino" nella localizzazione geografica (il più dettagliato).
                            *@
                            <dd data-toggle="popover"
                                data-html="true"
                                data-placement="auto"
                                tabindex="0"
                                data-trigger="focus"
                                style="outline:none;cursor:pointer;"
                                data-content="@localizzatore["Nazione"]: <b>@(Model.LocalitaCattura.Citta.Provincia.Regione.Nazione.Nazione)</b><br>
                                          @localizzatore["Regione"]: <b>@(Model.LocalitaCattura.Citta.Provincia.Regione.Regione)</b><br>
                                          @localizzatore["Provincia"]: <b>@(Model.LocalitaCattura.Citta.Provincia.Provincia)</b><br>
                                          @localizzatore["Città"]: <b>@(Model.LocalitaCattura.Citta.NomeCitta)</b>">
                                        @{
                                            if (Model.LocalitaCattura.Citta.Provincia.Regione.Regione == "-")
                                            {
                                                @Model.LocalitaCattura.Citta.Provincia.Regione.Nazione.Nazione
                                            }
                                            else if (Model.LocalitaCattura.Citta.Provincia.Provincia == "-")
                                            {
                                                @Model.LocalitaCattura.Citta.Provincia.Regione.Regione
                                            }
                                            else if (Model.LocalitaCattura.Citta.NomeCitta == "-")
                                            {
                                                @Model.LocalitaCattura.Citta.Provincia.Provincia
                                            }
                                            else if (Model.LocalitaCattura.NomeLocalita == "-")
                                            {
                                                @Model.LocalitaCattura.Citta.Provincia
                                            }
                                            else
                                            {
                                                @Model.LocalitaCattura.NomeLocalita
                                            }
                                        }
                        </dd>
                            <dt>@localizzatore["Collezione"]:</dt>
                            <dd>@Model.Collezione.Collezione</dd>
                            <dt>@localizzatore["Spedizione"]:</dt>
                            <dd>@Model.Spedizione.Spedizione</dd>
                        </dl>



                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Data di Determinazione"]:</dt>
                            <dd>@funzioni.leggiData(Model.DataDeterminazione)</dd>
                            <dt>@localizzatore["Determinatori"]:</dt>
                            <dd>
                                <ul class="list-unstyled">
                                    @foreach (var determinatore in Model.Determinazioni.OrderBy(det => det.Ordinamento))
                                    {
                                        <li>@(determinatore.Determinatore.Nome + " " + determinatore.Determinatore.Cognome)</li>
                                    }
                                </ul>

                            </dd>
                            <dt>@localizzatore["Vecchie Determinazioni"]:</dt>
                            <dd style="max-height:150px;overflow-y:auto;">
                                <ul class="list-unstyled">
                                    @foreach (var determinazione in Model.VecchieDeterminazioni.OrderBy(det => det.Ordinamento))
                                    {
                                        <li>@(determinazione.VecchiaDeterminazione)</li>
                                                <ol>
                                                    @foreach (var vecchioDeterminatore in determinazione.VecchiDeterminatori.OrderBy(det => det.Ordinamento))
                                                    {
                                                        <li>@(vecchioDeterminatore.Determinatore.Nome + " " + vecchioDeterminatore.Determinatore.Cognome)</li>
                                                    }
                                                </ol>
                                    }
                                </ul>
                            </dd>
                        </dl>
                    </div>

                    <div class="row">

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Contenuto Stomaco"]:</dt>
                            <dd>@Model.ContenutoStomaco</dd>
                            <dt>@localizzatore["Contenuto Ingluvie"]:</dt>
                            <dd>@Model.ContenutoIngluvie</dd>
                            <dt>@localizzatore["Inanellato"]:</dt>
                            <dd>@((bool)Model.Inanellato ? localizzatore["Sì"] : localizzatore["No"])</dd>
                            <dt>@localizzatore["Dati Anello"]:</dt>
                            <dd>@Model.DatiAnello</dd>
                        </dl>

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Formula Alare E"]:</dt>
                            <dd>@Model.FormulaAlareE</dd>
                            <dt>@localizzatore["Formula Alare WP"]:</dt>
                            <dd>@Model.FormulaAlareWp</dd>
                            <dt>@localizzatore["Formula Alare 2"]:</dt>
                            <dd>@Model.FormulaAlare2</dd>
                            <dt>@localizzatore["Timoniere Esterne"]:</dt>
                            <dd>@Model.TimoniereEsterne</dd>
                            <dt>@localizzatore["Timoniere Centrali"]:</dt>
                            <dd>@Model.TimoniereCentrali</dd>
                        </dl>

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Colore Zampe"]:</dt>
                            <dd>@Model.ColoreZampe</dd>
                            <dt>@localizzatore["Tarso"]:</dt>
                            <dd>@Model.Tarso</dd>
                            <dt>@localizzatore["Remigante 3"]:</dt>
                            <dd>@Model.Remigante3</dd>
                            <dt>@localizzatore["Ala"]:</dt>
                            <dd>@Model.Ala</dd>
                            <dt>@localizzatore["Colore Becco"]:</dt>
                            <dd>@Model.ColoreBecco</dd>
                            <dt>@localizzatore["Culmine"]:</dt>
                            <dd>@Model.Culmine</dd>
                        </dl>

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Becco-Cranio"]:</dt>
                            <dd>@Model.BeccoCranio</dd>
                            <dt>@localizzatore["Colore Iride"]:</dt>
                            <dd>@Model.ColoreIride</dd>
                            <dt>@localizzatore["Dimensione Occhio"]:</dt>
                            <dd>@Model.DimensioneOcchio</dd>
                            <dt>@localizzatore["Apertura Alare"]:</dt>
                            <dd>@Model.AperturaAlare</dd>
                            <dt>@localizzatore["Lunghezza Totale"]:</dt>
                            <dd>@Model.LunghezzaTotale</dd>
                            <dt>@localizzatore["Peso"]:</dt>
                            <dd>@Model.Peso</dd>
                        </dl>

                    </div>

                    <div class="row">

                        <dl class="col-lg-3 dl-horizontal text-primary">
                            <dt>@localizzatore["Bibliografia"]:</dt>
                            <dd>@Model.Bibliografia</dd>
                        </dl>

                        <dl class="col-lg-9 dl-horizontal text-primary">
                            <dt>@localizzatore["Note"]:</dt>
                            <dd>
                                <textarea rows="4"
                                          cols="80"
                                          width="100%"
                                          readonly
                                          style="resize:none; border:none;">
                                    @Model.Note
                                </textarea>
                            </dd>
                        </dl>

                    </div>
                </div>
    }
        </div>
    </div>
</div>
