@{
    ViewBag.Title = localizzatore["Elenco Esemplari"];
}

@using Papero.Funzioni

@section css {

    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-tree-control/0.2.28/css/tree-control.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-tree-control/0.2.28/css/tree-control-attribute.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/fh-3.1.2/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.css" />

    <style type="text/css">
        .dt-loading h3 {display:none}
    </style>
}


@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"
            asp-fallback-src="~/lib/angular/angular.min.js"
            asp-fallback-test="window.angular"></script>

    <script src="~/lib/angular-tree-control/angular-tree-control.js"></script>

    <script src="~/js/papero-app.js"></script>
    <script src="~/js/alberoController.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/fh-3.1.2/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.5/angular-datatables.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#tabellaEsemplari').DataTable({
                responsive: true,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.12/i18n/Italian.json"
                }
            });
        });
    </script>

}


<div class="row" ng-app="papero-app" ng-controller="alberoController as vm">
    <div class="col-lg-3">

        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">@localizzatore["Albero tassonomico"]</h3>@localizzatore["Specie selezionate"]: <span class="badge" ng-cloak>{{vm.numeroSpecie}}</span></div>
            <div class="panel-body" style="max-height: 80vh; overflow-y: scroll">

                <treecontrol class="tree-boot"
                             ng-cloak
                             tree-model="vm.datiAlbero"
                             options="vm.opzioniAlbero"
                             on-selection="vm.nodoSelezionato(node)">
                    {{node.nome}}
                </treecontrol>

            </div>
        </div>
    </div>


    <div class="col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">@localizzatore["Esemplari"]</h3></div>
            <div class="panel-body">

                <table datatable="ng" class="table table-striped table-bordered table-hover" id="tabellaEsemplari" dt-options="vm.opzioniTabella">
                    <thead>
                        <tr>
                            <th>@localizzatore["MSNG"]</th>
                            <th>@localizzatore["Nome Scientifico"]</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="esemplare in vm.esemplariSelezionati">
                            <td>{{esemplare.msng}}</td>
                            <td>{{esemplare.genere + " " + esemplare.specie + " " + (esemplare.sottospecie == "-" ? "" : esemplare.sottospecie) + " " + esemplare.elencoAutori}}</td>
                            <td style="text-align:center"><a ng-href="DettaglioEsemplare/{{esemplare.id}}" class="btn btn-sm btn-primary">@localizzatore["Dettagli"]</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>