@model Papero.Models.Tribu
@{
    ViewBag.Title = localizzatore["Tassonomia Generi"];
}
@section css {

}

@section scripts {

    <script src="~/js/tassonomia/tassonomiaGeneriController.js"></script>

}
<div ng-app="papero-app" ng-controller="tassonomiaGeneriController as vm">
    <input type="hidden" id="idTribuHidden" name="idTribuHidden" value="@Model.Id"/>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        @localizzatore["Generi"]
                    </div>
                </div>
                <div id="panelEdit" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputEditGenere" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Modifica Genere"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputEditGenere"
                                       ng-change="vm.verificaEditGenere()"
                                       id="inputEditGenere"
                                       name="inputEditGenere" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.genereGiaPresente">
                                    <strong>@localizzatore["Genere già presente!"]</strong> (@localizzatore["Id"]: {{vm.genereDoppio.id}})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset" 
                                                class="btn btn-outline-primary" 
                                                ng-click="vm.annullaEdit()">@localizzatore["Annulla"]</button>
                                        <button type="submit" 
                                                class="btn btn-success" 
                                                ng-click="vm.editGenere()" 
                                                ng-disabled="vm.pulsanteEditDisabilitato">@localizzatore["Modifica"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelCancella" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-2 col-lg-offset-2 control-label text-danger">@localizzatore["Cancella Genere"]:</label>
                            <div class="col-lg-3" >
                                <h4>{{vm.genereDaCancellare}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.generenonCancellabile">
                                    <strong>@localizzatore["Impossibile cancellare il Genere!"]</strong> (@localizzatore["Vi sono elementi dipendenti"])
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset"
                                                class="btn btn-outline-primary"
                                                ng-click="vm.annullaCancella()">
                                            @localizzatore["Annulla"]
                                        </button>
                                        <button type="submit"
                                                class="btn btn-danger"
                                                ng-click="vm.cancellaGenere()"
                                                ng-show="vm.pulsanteCancellaVisibile">
                                                @localizzatore["Cancella"]
                                        </button>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="uiSelectFamiglia" class="col-lg-1 col-lg-offset-3 control-label text-primary">@localizzatore["Famiglia"]:</label>
            <div class="col-lg-3">
                <ui-select id="uiSelectFamiglia" 
                           ng-model="vm.famigliaSelezionata" 
                           ng-change="vm.selezionaFamiglia()" 
                           ng-disabled="vm.dropdownDisabilitate">
                    <ui-select-match>
                        <span ng-bind="$select.selected.nome"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="famiglia in (vm.famiglie | filter: $select.search) track by famiglia.id">
                        <span ng-bind="famiglia.nome"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="form-group">
            <label for="uiSelectSottofamiglia" class="col-lg-1 col-lg-offset-3 control-label text-primary">@localizzatore["Sottofamiglia"]:</label>
            <div class="col-lg-3">
                <ui-select id="uiSelectSottofamiglia" 
                           ng-model="vm.sottofamigliaSelezionata" 
                           ng-change="vm.selezionaSottofamiglia()" 
                           ng-disabled="vm.dropdownDisabilitate">
                    <ui-select-match>
                        <span ng-bind="$select.selected.nome"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="sottofamiglia in (vm.sottofamiglie | filter: $select.search) track by sottofamiglia.id">
                        <span ng-bind="sottofamiglia.nome"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="form-group">
            <label for="uiSelectTribu" class="col-lg-1 col-lg-offset-3 control-label text-primary">@localizzatore["Tribù"]:</label>
            <div class="col-lg-3">
                <ui-select id="uiSelectTribu" 
                           ng-model="vm.tribuSelezionata" 
                           ng-change="vm.selezionaTribu()" 
                           ng-disabled="vm.dropdownDisabilitate">
                    <ui-select-match>
                        <span ng-bind="$select.selected.nome"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="tribu in (vm.tribu | filter: $select.search) track by tribu.id">
                        <span ng-bind="tribu.nome"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-lg-1">
                <a class="btn btn-sm btn-primary"
                   ng-href="/Tassonomia/Tribu/{{vm.sottofamigliaSelezionata.id}}">
                    <i class="fa fa-arrow-left"></i><text>&nbsp;</text>@localizzatore["Tribù"]
                </a>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            <table datatable="ng"
                   class="table table-striped table-bordered table-hover"
                   id="tabellaGeneri"
                   dt-options="vm.opzioniTabellaGeneri"
                   dt-column-defs="vm.colonneTabellaGeneri">
                <thead>
                    <tr>
                        <th>@localizzatore["Id"]</th>
                        <th>@localizzatore["Genere"]</th>
                        <th>@localizzatore["Azioni"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="genere in vm.generi">
                        <td>{{genere.id}}</td>
                        <td>{{genere.nome}}</td>
                        <td>
                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                            {
                                <a class="btn btn-sm btn-success text-white"
                                   ng-click="vm.apriPannelloEdit(genere)"
                                   ng-hide="genere.nome == '-'">
                                    <i class="fa fa-pencil"></i>&nbsp;@localizzatore["Modifica"]
                                </a><text>&nbsp; &nbsp; &nbsp;</text>
                                <a class="btn btn-sm btn-danger"
                                   ng-click="vm.apriPannelloCancella(genere)"
                                   ng-hide="genere.nome == '-'">
                                    <i class="fa fa-trash"></i><text>&nbsp;</text>@localizzatore["Cancella"]
                                </a>
                            }
                            <a class="btn btn-sm btn-primary"
                               ng-href="/Tassonomia/Specie/{{genere.id}}">
                                <i class="fa fa-arrow-right"></i><text>&nbsp;</text>@localizzatore["Specie"] ({{genere.figli.length}})
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>