@model Papero.Models.Famiglie
@{
    ViewBag.Title = localizzatore["Tassonomia Sottofamiglie"];
}
@section css {

<style type="text/css">
    a.btn.btn-sm.ng-hide {
        display: inline-block !important;
        visibility: hidden;
    }
</style>

}

@section scripts {

    <script src="~/js/tassonomia/tassonomiaSottofamiglieController.js"></script>

}
<div ng-app="papero-app" ng-controller="tassonomiaSottofamiglieController as vm">
    <input type="hidden" id="idFamigliaHidden" name="idFamigliaHidden" value="@Model.Id"/>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        @localizzatore["Sottofamiglie"]
                    </div>
                </div>

                <div id="panelEdit" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label for="inputEditSottofamiglia" class="col-lg-2 col-lg-offset-2 control-label text-primary">@localizzatore["Modifica Sottofamiglia"]:</label>
                            <div class="col-lg-3">
                                <input type="text"
                                       class="form-control"
                                       ng-model="vm.inputEditSottofamiglia"
                                       ng-change="vm.verificaEditSottofamiglia()"
                                       id="inputEditSottofamiglia"
                                       name="inputEditSottofamiglia" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.sottofamigliaGiaPresente">
                                    <strong>@localizzatore["Sottofamiglia già presente!"]</strong> (@localizzatore["Id"]: {{vm.sottofamigliaDoppia.id}})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset" 
                                                class="btn btn-outline-primary" 
                                                ng-click="vm.annullaEdit()">@localizzatore["Annulla"]</button>
                                        <button type="submit" 
                                                class="btn btn-success" 
                                                ng-click="vm.editSottofamiglia()" 
                                                ng-disabled="vm.pulsanteEditDisabilitato">@localizzatore["Modifica"]</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panelCancella" class="panel-body panel-collapse collapse">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-lg-2 col-lg-offset-2 control-label text-danger">@localizzatore["Cancella Sottofamiglia"]:</label>
                            <div class="col-lg-3" >
                                <h4>{{vm.sottofamigliaDaCancellare}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-lg-offset-4">
                                <div class="alert alert-danger" ng-show="vm.sottofamiglianonCancellabile">
                                    <strong>@localizzatore["Impossibile cancellare la Sottofamiglia!"]</strong> (@localizzatore["Vi sono elementi dipendenti"])
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="pull-right">
                                        <button type="reset"
                                                class="btn btn-outline-primary"
                                                ng-click="vm.annullaCancella()">
                                            @localizzatore["Annulla"]
                                        </button>
                                        <button type="submit"
                                                class="btn btn-danger"
                                                ng-click="vm.cancellaSottofamiglia()"
                                                ng-show="vm.pulsanteCancellaVisibile">
                                                @localizzatore["Cancella"]
                                        </button>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="uiSelectFamiglia" class="col-lg-1 col-lg-offset-3 control-label text-primary">@localizzatore["Famiglia"]:</label>
            <div class="col-lg-3">
                <ui-select id="uiSelectFamiglia" 
                           ng-model="vm.famigliaSelezionata" 
                           ng-change="vm.selezionaFamiglia()" 
                           ng-disabled="vm.dropdownDisabilitate">
                    <ui-select-match>
                        <span ng-bind="$select.selected.nome"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="famiglia in (vm.famiglie | filter: $select.search) track by famiglia.id">
                        <span ng-bind="famiglia.nome"></span>
                    </ui-select-choices>
                </ui-select>
                </div>
                <div class="col-lg-1">
                    <a class="btn btn-sm btn-primary"
                       ng-href="/Tassonomia/Famiglie">
                        <i class="fa fa-arrow-left"></i><text>&nbsp;</text>@localizzatore["Famiglie"]
                    </a>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            <table datatable="ng"
                   class="table table-striped table-bordered table-hover"
                   id="tabellaSottofamiglie"
                   dt-options="vm.opzioniTabellaSottofamiglie"
                   dt-column-defs="vm.colonneTabellaSottofamiglie">
                <thead>
                    <tr>
                        <th>@localizzatore["Id"]</th>
                        <th>@localizzatore["Sottofamiglia"]</th>
                        <th>@localizzatore["Azioni"]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sottofamiglia in vm.sottofamiglie">
                        <td>{{sottofamiglia.id}}</td>
                        <td>{{sottofamiglia.nome}}</td>
                        <td>
                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                            {
                                <a class="btn btn-sm btn-success text-white"
                                   ng-click="vm.apriPannelloEdit(sottofamiglia)"
                                   ng-hide="sottofamiglia.nome == '-'">
                                    <i class="fa fa-pencil"></i>&nbsp;@localizzatore["Modifica"]
                                </a><text>&nbsp; &nbsp; &nbsp;</text>
                                <a class="btn btn-sm btn-danger"
                                   ng-click="vm.apriPannelloCancella(sottofamiglia)"
                                   ng-hide="(sottofamiglia.nome == '-')"
                                   >
                                    <i class="fa fa-trash"></i><text>&nbsp;</text>@localizzatore["Cancella"]
                                </a>
                            }
                            <a class="btn btn-sm btn-primary"
                               ng-href="/Tassonomia/Tribu/{{sottofamiglia.id}}">
                                <i class="fa fa-arrow-right"></i><text>&nbsp;</text>@localizzatore["Tribu"] ({{sottofamiglia.figli.length - 1}})
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>