@{
    ViewBag.Title = localizzatore["Gestione Tassonomia"];
}

@section css {
<style type="text/css">
    .dt-loading h3 {
        display: none;
    }
</style>
}

@section scripts {
<script src="~/js/tassonomia/tassonomiaController.js"></script>
}

<div class="row" ng-app="papero-app" ng-controller="tassonomiaController as vm">

    <div class="col-lg-3">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-sitemap fa-fw"></i> @localizzatore["Albero tassonomico"]</h3>
            </div>

            <div class="panel-body" style="max-height: 80vh; overflow-y: scroll">
                <treecontrol class="tree-boot"
                             id="alberoTassonomia"
                             ng-cloak
                             tree-model="vm.datiAlbero"
                             options="vm.opzioniAlbero"
                             selected-node="vm.selectedNode"
                             on-selection="vm.nodoSelezionato(node, $path(), selected)">
                    <span ng-class="node.passeriforme?'text-danger':''">{{node.nome}}</span>
                </treecontrol>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span ng-hide="vm.livello > 0">@localizzatore["Selezionare un elemento dell'albero"]</span>
                    <span ng-show="vm.livello == 1" ng-cloak>
                        @localizzatore["Famiglia"]: {{vm.testo}}
                        @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                        {
                        <text>&nbsp;&nbsp;&nbsp;</text>
                        <a href="#"
                           class="btn btn-danger"
                           ng-show="vm.pulsanteCancellazioneFamigliaVisibile"
                           ng-click="vm.apriPannelloCancellazioneFamiglia()">
                            <i class="fa fa-minus"></i><text>&nbsp;</text>@localizzatore["Cancella Famiglia"]
                        </a>
                        }
                    </span>
                    <span ng-show="vm.livello == 2" ng-cloak>
                        @localizzatore["Sottofamiglia"]: {{vm.testo}}
                        @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                        {
                        <text>&nbsp;&nbsp;&nbsp;</text>
                        <a href="#"
                           class="btn btn-danger"
                           ng-show="vm.pulsanteCancellazioneSottofamigliaVisibile"
                           ng-click="vm.apriPannelloCancellazioneSottofamiglia()">
                            <i class="fa fa-minus"></i><text>&nbsp;</text>@localizzatore["Cancella Sottofamiglia"]
                        </a>
                        }
                    </span>
                    <span ng-show="vm.livello == 3" ng-cloak>
                        @localizzatore["Tribù"]: {{vm.testo}}
                        @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                        {
                        <text>&nbsp;&nbsp;&nbsp;</text>
                        <a href="#"
                           class="btn btn-danger"
                           ng-show="vm.pulsanteCancellazioneTribuVisibile"
                           ng-click="vm.apriPannelloCancellazioneTribu()">
                            <i class="fa fa-minus"></i><text>&nbsp;</text>@localizzatore["Cancella Tribù"]
                        </a>
                        }
                    </span>
                    <span ng-show="vm.livello == 4" ng-cloak>
                        @localizzatore["Genere"]: {{vm.testo}}
                        @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                        {
                        <text>&nbsp;&nbsp;&nbsp;</text>
                        <a href="#"
                           class="btn btn-danger"
                           ng-show="vm.pulsanteCancellazioneGenereVisibile"
                           ng-click="vm.apriPannelloCancellazioneGenere()">
                            <i class="fa fa-minus"></i><text>&nbsp;</text>@localizzatore["Cancella Genere"]
                        </a>
                        }
                    </span>
                    <span ng-show="vm.livello == 5 && vm.panelInsertSpecieVisibile == true" ng-cloak>@localizzatore["Inserisci nuova Specie"]</span>
                    <span ng-show="vm.livello == 5 && vm.panelInsertSpecieVisibile == false" ng-cloak>
                        @localizzatore["Specie"]: {{vm.testo}}
                        @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                        {
                        <text>&nbsp;&nbsp;&nbsp;</text>
                        <a href="#"
                           class="btn btn-success"
                           ng-show="vm.pulsanteInserimentoSpecieVisibile"
                           ng-click="vm.apriPannelloInserimentoSpecie()">
                            <i class="fa fa-plus"></i> @localizzatore["Nuova Specie"]
                        </a>
                        <a href="#"
                           class="btn btn-danger"
                           ng-show="vm.pulsanteCancellazioneSpecieVisibile"
                           ng-click="vm.apriPannelloCancellazioneSpecie()">
                            <i class="fa fa-minus"></i><text>&nbsp;</text>@localizzatore["Cancella Specie"]
                        </a>
                        }
                    </span>
                    <span ng-show="vm.livello == 6 && vm.panelInsertSottospecieVisibile == true && vm.inputInsertSottospecieReadonly == false"
                          ng-cloak>@localizzatore["Inserisci nuova Sottospecie"]</span>
                    <span ng-show="vm.livello == 6 && vm.panelInsertSottospecieVisibile == true && vm.inputInsertSottospecieReadonly == true"
                          ng-cloak>@localizzatore["Inserisci Sottospecie nominale"]</span>
                    <span ng-show="vm.livello == 6 && vm.panelInsertSottospecieVisibile == false" ng-cloak>
                        @localizzatore["Sottospecie"]: {{vm.testo}}
                        @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                        {
                        <text>&nbsp;&nbsp;&nbsp;</text>
                        <a href="#"
                           class="btn btn-success"
                           ng-show="vm.pulsanteInserimentoSottospecieVisibile"
                           ng-click="vm.apriPannelloInserimentoSottospecie()">
                            <i class="fa fa-plus"></i>
                            <text>&nbsp;</text>
                            <span ng-show="!vm.inputInsertSottospecieReadonly">@localizzatore["Nuova Sottospecie"]</span>
                            <span ng-show="vm.inputInsertSottospecieReadonly">@localizzatore["Sottospecie nominale"]</span>
                        </a>
                        <a href="#"
                           class="btn btn-danger"
                           ng-show="vm.pulsanteCancellazioneSottospecieVisibile"
                           ng-click="vm.apriPannelloCancellazioneSottospecie()">
                            <i class="fa fa-minus"></i><text>&nbsp;</text>@localizzatore["Cancella Sottospecie"]
                        </a>
                        }
                    </span>
                </h3>
            </div>
            <div class="panel-body">

                @*Pannello delle Famiglie*@
                <div ng-show="vm.livello==1">

                    @*Edit Famiglia*@
                    <div class="panel-body" ng-show="vm.panelEditFamigliaVisibile">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEditFamiglia"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Modifica Famiglia"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputEditFamiglia"
                                           ng-change="vm.verificaEditFamiglia()"
                                           id="inputEditFamiglia"
                                           name="inputEditFamiglia" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputPasseriforme"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Passeriforme"]:
                                </label>
                                <div class="col-lg-1">
                                    <input type="checkbox"
                                           class="form-control"
                                           ng-model="vm.passeriforme"
                                           ng-change="vm.verificaEditFamiglia()"
                                           id="inputPasseriforme"
                                           name="inputPasseriforme" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-2 col-lg-offset-6">
                                    <div class="pull-right">
                                        @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                        {
                                        <button type="submit"
                                                class="btn btn-success"
                                                ng-click="vm.editFamiglia()"
                                                ng-disabled="vm.pulsanteEditFamigliaDisabilitato">
                                            @localizzatore["Modifica"]
                                        </button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    @*Cancella Famiglia*@
                    <div class="panel-body" ng-show="vm.panelCancellaFamigliaVisibile">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-lg-2 col-lg-offset-2 control-label text-danger">
                                    @localizzatore["Cancella Famiglia"]:
                                </label>
                                <div class="col-lg-3">
                                    <h4>{{vm.entitaDaCancellare}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-lg-offset-6">
                                        <div class="pull-right">
                                            <button type="reset"
                                                    class="btn btn-outline-primary"
                                                    ng-click="vm.annullaCancellaFamiglia()">
                                                @localizzatore["Annulla"]
                                            </button>
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-danger"
                                                    ng-click="vm.cancellaFamiglia()">
                                                @localizzatore["Conferma Cancellazione Famiglia"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                @*Pannello delle Sottofamiglie*@
                <div ng-show="vm.livello==2">

                    @*Edit Sottofamiglia*@
                    <div class="panel-body" ng-show="vm.panelEditSottofamigliaVisibile">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEditSottofamiglia"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Modifica Sottofamiglia"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputEditSottofamiglia"
                                           ng-change="vm.verificaEditSottofamiglia()"
                                           ng-disabled="vm.inputEditSottofamiglia == '-'"
                                           id="inputEditSottofamiglia"
                                           name="inputEditSottofamiglia" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2 col-lg-offset-6">
                                        <div class="pull-right">
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-success"
                                                    ng-click="vm.editSottofamiglia()"
                                                    ng-disabled="vm.pulsanteEditSottofamigliaDisabilitato">
                                                @localizzatore["Modifica"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Cancella Sottofamiglia*@
                    <div class="panel-body" ng-show="vm.panelCancellaSottofamigliaVisibile">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-lg-2 col-lg-offset-2 control-label text-danger">
                                    @localizzatore["Cancella Sottofamiglia"]:
                                </label>
                                <div class="col-lg-3">
                                    <h4>{{vm.entitaDaCancellare}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-lg-offset-6">
                                        <div class="pull-right">
                                            <button type="reset"
                                                    class="btn btn-outline-primary"
                                                    ng-click="vm.annullaCancellaSottofamiglia()">
                                                @localizzatore["Annulla"]
                                            </button>
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-danger"
                                                    ng-click="vm.cancellaSottofamiglia()">
                                                @localizzatore["Conferma Cancellazione Sottofamiglia"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                @*Pannello delle Tribù*@
                <div ng-show="vm.livello==3">

                    @*Edit Tribù*@
                    <div class="panel-body" ng-show="vm.panelEditTribuVisibile">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEditTribu"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Modifica Tribù"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputEditTribu"
                                           ng-change="vm.verificaEditTribu()"
                                           ng-disabled="vm.inputEditTribu == '-'"
                                           id="inputEditTribu"
                                           name="inputEditTribu" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2 col-lg-offset-6">
                                        <div class="pull-right">
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-success"
                                                    ng-click="vm.editTribu()"
                                                    ng-disabled="vm.pulsanteEditTribuDisabilitato">
                                                @localizzatore["Modifica"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Cancella Tribù*@
                    <div class="panel-body" ng-show="vm.panelCancellaTribuVisibile">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-lg-2 col-lg-offset-2 control-label text-danger">
                                    @localizzatore["Cancella Tribù"]:
                                </label>
                                <div class="col-lg-3">
                                    <h4>{{vm.entitaDaCancellare}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-lg-offset-6">
                                        <div class="pull-right">
                                            <button type="reset"
                                                    class="btn btn-outline-primary"
                                                    ng-click="vm.annullaCancellaTribu()">
                                                @localizzatore["Annulla"]
                                            </button>
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-danger"
                                                    ng-click="vm.cancellaTribu()">
                                                @localizzatore["Conferma Cancellazione Tribù"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                @*Pannello dei Generi*@
                <div ng-show="vm.livello==4">

                    @*Edit Genere*@
                    <div class="panel-body" ng-show="vm.panelEditGenereVisibile">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEditGenere"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Modifica Genere"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputEditGenere"
                                           ng-change="vm.verificaEditGenere()"
                                           ng-disabled="vm.inputEditGenere == '-'"
                                           id="inputEditGenere"
                                           name="inputEditGenere" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2 col-lg-offset-6">
                                        <div class="pull-right">
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-success"
                                                    ng-click="vm.editGenere()"
                                                    ng-disabled="vm.pulsanteEditGenereDisabilitato">
                                                @localizzatore["Modifica"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Cancella Genere*@
                    <div class="panel-body" ng-show="vm.panelCancellaGenereVisibile">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-lg-2 col-lg-offset-2 control-label text-danger">
                                    @localizzatore["Cancella Genere"]:
                                </label>
                                <div class="col-lg-3">
                                    <h4>{{vm.entitaDaCancellare}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-lg-offset-6">
                                        <div class="pull-right">
                                            <button type="reset"
                                                    class="btn btn-outline-primary"
                                                    ng-click="vm.annullaCancellaGenere()">
                                                @localizzatore["Annulla"]
                                            </button>
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-danger"
                                                    ng-click="vm.cancellaGenere()">
                                                @localizzatore["Conferma Cancellazione Genere"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                @*Pannello delle Specie*@
                <div ng-show="vm.livello==5">

                    @*Insert Specie*@
                    <div class="panel-body" ng-show="vm.panelInsertSpecieVisibile">

                        <div class="row">
                            <div class="form-group">
                                <label for="inputInsertSpecieFamiglia"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Famiglia"]:
                                </label>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button"
                                                    ng-class="vm.labelPulsanteFamigliaCorrente?'btn btn-primary dropdown-toggle':'btn btn-danger dropdown-toggle'"
                                                    data-toggle="dropdown"
                                                    aria-expanded="false">
                                                <span ng-show="vm.labelPulsanteFamigliaCorrente">@localizzatore["Corrente"]</span>
                                                <span ng-hide="vm.labelPulsanteFamigliaCorrente">@localizzatore["Nuova"]</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" ng-click="vm.selezionaFamigliaCorrente()">@localizzatore["Corrente"]</a>
                                                </li>
                                                <li>
                                                    <a href="#" ng-click="vm.selezionaFamigliaNuova()">@localizzatore["Nuova"]</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="text"
                                               id="inputInsertSpecieFamiglia"
                                               ng-model="vm.inputInsertSpecieFamiglia"
                                               ng-change="vm.verificaInsertSpecie()"
                                               ng-readonly="vm.labelPulsanteFamigliaCorrente"
                                               name="inputInsertSpecieFamiglia"
                                               class="form-control">
                                    </div>
                                </div>
                                <div ng-show="!vm.labelPulsanteFamigliaCorrente">
                                    <div class="col-lg-1">
                                        <label for="inputPasseriformeSpecie"
                                               class="control-label text-primary">
                                            @localizzatore["Passeriforme"]:
                                        </label>
                                    </div>
                                    <div class="col-lg-1">
                                        <input type="checkbox"
                                               class="form-control"
                                               ng-model="vm.passeriformeSpecie"
                                               ng-change="vm.verificaInsertSpecie()"
                                               id="inputPasseriformeSpecie"
                                               name="inputPasseriformeSpecie" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputInsertSpecieSottofamiglia"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Sottofamiglia"]:
                                </label>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button"
                                                    ng-class="vm.labelPulsanteSottofamigliaCorrente?'btn btn-primary dropdown-toggle':'btn btn-danger dropdown-toggle'"
                                                    data-toggle="dropdown"
                                                    aria-expanded="false"
                                                    ng-disabled="!vm.labelPulsanteFamigliaCorrente">
                                                <span ng-show="vm.labelPulsanteSottofamigliaCorrente">@localizzatore["Corrente"]</span>
                                                <span ng-hide="vm.labelPulsanteSottofamigliaCorrente">@localizzatore["Nuova"]</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" ng-click="vm.selezionaSottofamigliaCorrente()">@localizzatore["Corrente"]</a>
                                                </li>
                                                <li>
                                                    <a href="#" ng-click="vm.selezionaSottofamigliaNuova()">@localizzatore["Nuova"]</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="text"
                                               id="inputInsertSpecieSottofamiglia"
                                               ng-model="vm.inputInsertSpecieSottofamiglia"
                                               ng-change="vm.verificaInsertSpecie()"
                                               ng-readonly="vm.labelPulsanteSottofamigliaCorrente"
                                               name="inputInsertSpecieSottofamiglia"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputInsertSpecieTribu"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Tribù"]:
                                </label>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button"
                                                    ng-class="vm.labelPulsanteTribuCorrente?'btn btn-primary dropdown-toggle':'btn btn-danger dropdown-toggle'"
                                                    data-toggle="dropdown"
                                                    aria-expanded="false"
                                                    ng-disabled="!vm.labelPulsanteSottofamigliaCorrente">
                                                <span ng-show="vm.labelPulsanteTribuCorrente">@localizzatore["Corrente"]</span>
                                                <span ng-hide="vm.labelPulsanteTribuCorrente">@localizzatore["Nuova"]</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" ng-click="vm.selezionaTribuCorrente()">@localizzatore["Corrente"]</a>
                                                </li>
                                                <li>
                                                    <a href="#" ng-click="vm.selezionaTribuNuova()">@localizzatore["Nuova"]</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="text"
                                               id="inputInsertSpecieTribu"
                                               ng-model="vm.inputInsertSpecieTribu"
                                               ng-change="vm.verificaInsertSpecie()"
                                               ng-readonly="vm.labelPulsanteTribuCorrente"
                                               name="inputInsertSpecieTribu"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputInsertSpecieGenere"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Genere"]:
                                </label>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button"
                                                    ng-class="vm.labelPulsanteGenereCorrente?'btn btn-primary dropdown-toggle':'btn btn-danger dropdown-toggle'"
                                                    data-toggle="dropdown"
                                                    aria-expanded="false"
                                                    ng-disabled="!vm.labelPulsanteTribuCorrente">
                                                <span ng-show="vm.labelPulsanteGenereCorrente">@localizzatore["Corrente"]</span>
                                                <span ng-hide="vm.labelPulsanteGenereCorrente">@localizzatore["Nuova"]</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" ng-click="vm.selezionaGenereCorrente()">@localizzatore["Corrente"]</a>
                                                </li>
                                                <li>
                                                    <a href="#" ng-click="vm.selezionaGenereNuovo()">@localizzatore["Nuovo"]</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="text"
                                               id="inputInsertSpecieGenere"
                                               ng-model="vm.inputInsertSpecieGenere"
                                               ng-change="vm.verificaInsertSpecie()"
                                               ng-readonly="vm.labelPulsanteGenereCorrente"
                                               name="inputInsertSpecieGenere"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputInsertSpecie"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Nuova Specie"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputInsertSpecie"
                                           ng-change="vm.verificaInsertSpecie()"
                                           id="inputInsertSpecie"
                                           name="inputInsertSpecie" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputInsertSpecieNomeItaliano"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Nome Italiano"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputInsertSpecieNomeItaliano"
                                           ng-change="vm.verificaInsertSpecie()"
                                           id="inputInsertSpecieNomeItaliano"
                                           name="inputInsertSpecieNomeItaliano" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputInsertSpecieNomeInglese"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Nome Inglese"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputInsertSpecieNomeInglese"
                                           ng-change="vm.verificaInsertSpecie()"
                                           id="inputInsertSpecieNomeInglese"
                                           name="inputInsertSpecieNomeInglese" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="uiselectSpecieStatoConservazione"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Stato di Conservazione"]:
                                </label>
                                <div class="col-lg-4">
                                    <ui-select ng-model="vm.statoDiConservazioneSpecieSelezionato"
                                               ng-change="vm.verificaInsertSpecie()"
                                               id="uiselectSpecieStatoConservazione">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.statoConservazione + ($select.selected.sigla=='-'?'':' (' + $select.selected.sigla + ')')"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="stato in (vm.elencoStatiConservazione | filter: $select.search) track by stato.id">
                                            <span ng-bind="stato.statoConservazione + (stato.sigla=='-'?'':' (' + stato.sigla + ')')"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group">
                                <label for="testoElencoSpecieClassificatori"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Classificatori"]:
                                </label>
                                <div class="col-lg-6">
                                    <span id="testoElencoSpecieClassificatori"
                                          class="text-primary"><strong>{{vm.stringaElencoSpecieClassificatori}}</strong></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputSpecieAnnoClassificazione"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Anno Classificazione"]:
                                </label>
                                <div class="col-lg-2">
                                    <input type="number"
                                           min="1700" max="2100"
                                           class="form-control"
                                           ng-model="vm.inputInsertSpecieAnnoClassificazione"
                                           ng-change="vm.verificaInsertSpecie()"
                                           id="inputSpecieAnnoClassificazione"
                                           name="inputSpecieAnnoClassificazione"
                                           required />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputSpecieClassificazioneOriginale"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Classificazione Originale"]:
                                </label>
                                <div class="col-lg-1">
                                    <input type="checkbox"
                                           class="form-control"
                                           ng-model="vm.specieClassificazioneOriginale"
                                           ng-change="vm.verificaInsertSpecie()"
                                           id="inputSpecieClassificazioneOriginale"
                                           name="inputSpecieClassificazioneOriginale" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="uiselectSpecieClassificatore"
                                       class="col-lg-3 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Classificatore da aggiungere"]:
                                </label>
                                <div class="col-lg-3">
                                    <ui-select ng-model="vm.classificatoreSpecieSelezionato" id="uiselectSpecieClassificatore">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.classificatore"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="classificatore in (vm.dropdownSpecieClassificatori | filter: $select.search) track by classificatore.id">
                                            <span ng-bind="classificatore.classificatore"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-lg-1">
                                    <i role="button" ng-click="vm.aggiungiSpecieClassificatore()" class="fa fa-plus-square fa-2x text-success"></i>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6 col-lg-offset-2">
                                    <table datatable="ng"
                                           class="table table-striped table-bordered table-hover text-primary"
                                           id="tabellaElencoSpecieClassificatori"
                                           dt-options="vm.opzioniTabellaElencoSpecieClassificatori">
                                        <thead>
                                            <tr>
                                                <th>@localizzatore["Ordinamento"]</th>
                                                <th>@localizzatore["Classificatore"]</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="classificatore in vm.datiTabellaSpecieClassificatori">
                                                <td>{{$index+1}}</td>
                                                <td>{{classificatore.classificatore}}</td>
                                                <td>
                                                    <div class="btn-group fa-pull-right">
                                                        <i role="button" ng-show="!$first" ng-click="vm.spostaSuSpecie($index)" class="fa fa-arrow-up fa-2x text-success"></i>
                                                        <i role="button" ng-show="!$last" ng-click="vm.spostaGiuSpecie($index)" class="fa fa-arrow-down fa-2x text-success"></i>
                                                        <i role="button" ng-click="vm.rimuoviClassificatoreSpecie(classificatore)" class="fa fa-minus-square fa-2x text-danger"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-offset-6 col-lg-3">
                                        <div class="pull-right">
                                            <button type="reset" class="btn btn-outline-primary" ng-click="vm.annullaInserimentoSpecie()">@localizzatore["Annulla"]</button>
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-success"
                                                    ng-click="vm.inserisciSpecie()"
                                                    ng-disabled="vm.pulsanteInsertSpecieDisabilitato">
                                                @localizzatore["Inserisci"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    @*Edit Specie*@
                    <div class="panel-body" ng-show="vm.panelEditSpecieVisibile">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEditSpecie" class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Modifica Specie"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputEditSpecie"
                                           ng-change="vm.verificaEditSpecie()"
                                           ng-disabled="vm.inputEditSpecie == '-'"
                                           id="inputEditSpecie"
                                           name="inputEditSpecie" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2 col-lg-offset-6">
                                        <div class="pull-right">
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-success"
                                                    ng-click="vm.editSpecie()"
                                                    ng-disabled="vm.pulsanteEditSpecieDisabilitato">
                                                @localizzatore["Modifica"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Cancella Specie*@
                    <div class="panel-body" ng-show="vm.panelCancellaSpecieVisibile">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-lg-2 col-lg-offset-2 control-label text-danger">
                                    @localizzatore["Cancella Specie"]:
                                </label>
                                <div class="col-lg-3">
                                    <h4>{{vm.entitaDaCancellare}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-lg-offset-6">
                                        <div class="pull-right">
                                            <button type="reset"
                                                    class="btn btn-outline-primary"
                                                    ng-click="vm.annullaCancellaSpecie()">
                                                @localizzatore["Annulla"]
                                            </button>
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-danger"
                                                    ng-click="vm.cancellaSpecie()">
                                                @localizzatore["Conferma Cancellazione Specie"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                @*Pannello delle Sottospecie*@
                <div ng-show="vm.livello==6">

                    @*Insert Sottospecie*@
                    <div class="panel-body" ng-show="vm.panelInsertSottospecieVisibile">

                        <div class="row">
                            <div class="form-group">
                                <label for="inputInsertSottospecie"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Nuova Sottospecie"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputInsertSottospecie"
                                           ng-change="vm.verificaInsertSottospecie()"
                                           ng-readonly="vm.inputInsertSottospecieReadonly"
                                           id="inputInsertSottospecie"
                                           name="inputInsertSottospecie" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputInsertSottospecieNomeItaliano"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Nome Italiano"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputInsertSottospecieNomeItaliano"
                                           ng-change="vm.verificaInsertSottospecie()"
                                           id="inputInsertSottospecieNomeItaliano"
                                           name="inputInsertSottospecieNomeItaliano" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputInsertSottospecieNomeInglese"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Nome Inglese"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputInsertSottospecieNomeInglese"
                                           ng-change="vm.verificaInsertSottospecie()"
                                           id="inputInsertSottospecieNomeInglese"
                                           name="inputInsertSottospecieNomeInglese" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="uiselectSottospecieStatoConservazione"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Stato di Conservazione"]:
                                </label>
                                <div class="col-lg-4">
                                    <ui-select ng-model="vm.statoDiConservazioneSottospecieSelezionato"
                                               ng-change="vm.verificaInsertSottospecie()"
                                               id="uiselectSottospecieStatoConservazione">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.statoConservazione + ($select.selected.sigla=='-'?'':' (' + $select.selected.sigla + ')')"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="stato in (vm.elencoStatiConservazione | filter: $select.search) track by stato.id">
                                            <span ng-bind="stato.statoConservazione + (stato.sigla=='-'?'':' (' + stato.sigla + ')')"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group">
                                <label for="testoElencoSottospecieClassificatori"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Classificatori"]:
                                </label>
                                <div class="col-lg-6">
                                    <span id="testoElencoSottospecieClassificatori"
                                          class="text-primary"><strong>{{vm.stringaElencoSottospecieClassificatori}}</strong></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row" ng-hide="vm.inputInsertSottospecieReadonly">
                            <div class="form-group">
                                <label for="inputSottospecieAnnoClassificazione"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Anno Classificazione"]:
                                </label>
                                <div class="col-lg-2">
                                    <input type="number"
                                           min="1700" max="2100"
                                           class="form-control"
                                           ng-model="vm.inputInsertSottospecieAnnoClassificazione"
                                           ng-change="vm.verificaInsertSottospecie()"
                                           id="inputSottospecieAnnoClassificazione"
                                           name="inputSottospecieAnnoClassificazione"
                                           required />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row" ng-hide="vm.inputInsertSottospecieReadonly">
                            <div class="form-group">
                                <label for="inputSottospecieClassificazioneOriginale"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Classificazione Originale"]:
                                </label>
                                <div class="col-lg-1">
                                    <input type="checkbox"
                                           class="form-control"
                                           ng-model="vm.sottospecieClassificazioneOriginale"
                                           ng-change="vm.verificaInsertSottospecie()"
                                           id="inputSottospecieClassificazioneOriginale"
                                           name="inputSottospecieClassificazioneOriginale" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row" ng-hide="vm.inputInsertSottospecieReadonly">
                            <div class="form-group">
                                <label for="uiselectSottospecieClassificatore"
                                       class="col-lg-3 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Classificatore da aggiungere"]:
                                </label>
                                <div class="col-lg-3">
                                    <ui-select ng-model="vm.classificatoreSottospecieSelezionato"
                                               id="uiselectSottospecieClassificatore">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.classificatore"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="classificatore in (vm.dropdownSottospecieClassificatori | filter: $select.search) track by classificatore.id">
                                            <span ng-bind="classificatore.classificatore"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-lg-1">
                                    <i role="button"
                                       ng-click="vm.aggiungiSottospecieClassificatore()"
                                       class="fa fa-plus-square fa-2x text-success"></i>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row" ng-hide="vm.inputInsertSottospecieReadonly">
                            <div class="form-group">
                                <div class="col-lg-6 col-lg-offset-2">
                                    <table datatable="ng"
                                           class="table table-striped table-bordered table-hover text-primary"
                                           id="tabellaElencoSottospecieClassificatori"
                                           dt-options="vm.opzioniTabellaElencoSottospecieClassificatori">
                                        <thead>
                                            <tr>
                                                <th>@localizzatore["Ordinamento"]</th>
                                                <th>@localizzatore["Classificatore"]</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="classificatore in vm.datiTabellaSottospecieClassificatori">
                                                <td>{{$index+1}}</td>
                                                <td>{{classificatore.classificatore}}</td>
                                                <td>
                                                    <div class="btn-group fa-pull-right">
                                                        <i role="button"
                                                           ng-show="!$first"
                                                           ng-click="vm.spostaSuSottospecie($index)"
                                                           class="fa fa-arrow-up fa-2x text-success"></i>
                                                        <i role="button"
                                                           ng-show="!$last"
                                                           ng-click="vm.spostaGiuSottospecie($index)"
                                                           class="fa fa-arrow-down fa-2x text-success"></i>
                                                        <i role="button"
                                                           ng-click="vm.rimuoviClassificatoreSottospecie(classificatore)"
                                                           class="fa fa-minus-square fa-2x text-danger"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-offset-6 col-lg-3">
                                        <div class="pull-right">
                                            <button type="reset"
                                                    class="btn btn-outline-primary"
                                                    ng-click="vm.annullaInserimentoSottospecie()">
                                                @localizzatore["Annulla"]
                                            </button>
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-success"
                                                    ng-click="vm.inserisciSottospecie()"
                                                    ng-disabled="vm.pulsanteInsertSottospecieDisabilitato">
                                                @localizzatore["Inserisci"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    @*Edit Sottospecie*@
                    <div class="panel-body" ng-show="vm.panelEditSottospecieVisibile">
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEditSottospecie"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Modifica Sottospecie"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputEditSottospecie"
                                           ng-change="vm.verificaEditSottospecie()"
                                           ng-disabled="vm.inputEditSottospecie == '-'"
                                           ng-readonly="vm.inputEditSottospecieReadonly"
                                           id="inputEditSottospecie"
                                           name="inputEditSottospecie" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEditNomeItaliano"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Nome Italiano"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputEditNomeItaliano"
                                           ng-change="vm.verificaEditSottospecie()"
                                           id="inputEditNomeItaliano"
                                           name="inputEditNomeItaliano" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputEditNomeInglese"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Nome Inglese"]:
                                </label>
                                <div class="col-lg-4">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="vm.inputEditNomeInglese"
                                           ng-change="vm.verificaEditSottospecie()"
                                           id="inputEditNomeInglese"
                                           name="inputEditNomeInglese" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="uiselectStatoConservazione"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Stato di Conservazione"]:
                                </label>
                                <div class="col-lg-4">
                                    <ui-select ng-model="vm.statoDiConservazioneSelezionato"
                                               ng-change="vm.verificaEditSottospecie()"
                                               id="uiselectStatoConservazione">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.statoConservazione + ($select.selected.sigla=='-'?'':' (' + $select.selected.sigla + ')')"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="stato in (vm.elencoStatiConservazione | filter: $select.search) track by stato.id">
                                            <span ng-bind="stato.statoConservazione + (stato.sigla=='-'?'':' (' + stato.sigla + ')')"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group">
                                <label for="testoElencoClassificatori"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Classificatori"]:
                                </label>
                                <div class="col-lg-6">
                                    <span id="testoElencoClassificatori"
                                          class="text-primary"><strong>{{vm.stringaElencoClassificatori}}</strong></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputAnnoClassificazione"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Anno Classificazione"]:
                                </label>
                                <div class="col-lg-2">
                                    <input type="number"
                                           min="1700" max="2100"
                                           class="form-control"
                                           ng-model="vm.inputEditAnnoClassificazione"
                                           ng-change="vm.verificaEditSottospecie()"
                                           id="inputAnnoClassificazione"
                                           name="inputAnnoClassificazione"
                                           required />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="inputClassificazioneOriginale"
                                       class="col-lg-2 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Classificazione Originale"]:
                                </label>
                                <div class="col-lg-1">
                                    <input type="checkbox"
                                           class="form-control"
                                           ng-model="vm.classificazioneOriginale"
                                           ng-change="vm.verificaEditSottospecie()"
                                           id="inputClassificazioneOriginale"
                                           name="inputClassificazioneOriginale" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <label for="uiselectClassificatore"
                                       class="col-lg-3 col-lg-offset-2 control-label text-primary">
                                    @localizzatore["Classificatore da aggiungere"]:
                                </label>
                                <div class="col-lg-3">
                                    <ui-select ng-model="vm.classificatoreSelezionato"
                                               id="uiselectClassificatore">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.classificatore"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="classificatore in (vm.dropdownClassificatori | filter: $select.search) track by classificatore.id">
                                            <span ng-bind="classificatore.classificatore"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-lg-1">
                                    <i role="button"
                                       ng-click="vm.aggiungiClassificatore()"
                                       class="fa fa-plus-square fa-2x text-success"></i>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6 col-lg-offset-2">
                                    <table datatable="ng"
                                           class="table table-striped table-bordered table-hover text-primary"
                                           id="tabellaElencoClassificatori"
                                           dt-options="vm.opzioniTabellaElencoClassificatori">
                                        <thead>
                                            <tr>
                                                <th>@localizzatore["Ordinamento"]</th>
                                                <th>@localizzatore["Classificatore"]</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="classificatore in vm.datiTabellaClassificatori">
                                                <td>{{$index+1}}</td>
                                                <td>{{classificatore.classificatore}}</td>
                                                <td>
                                                    <div class="btn-group fa-pull-right">
                                                        <i role="button"
                                                           ng-show="!$first"
                                                           ng-click="vm.spostaSu($index)"
                                                           class="fa fa-arrow-up fa-2x text-success"></i>
                                                        <i role="button"
                                                           ng-show="!$last"
                                                           ng-click="vm.spostaGiu($index)"
                                                           class="fa fa-arrow-down fa-2x text-success"></i>
                                                        <i role="button"
                                                           ng-click="vm.rimuoviClassificatore(classificatore)"
                                                           class="fa fa-minus-square fa-2x text-danger"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-2 col-lg-offset-6">
                                        <div class="pull-right">
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-success"
                                                    ng-click="vm.editSottospecie()"
                                                    ng-disabled="vm.pulsanteEditSottospecieDisabilitato">
                                                @localizzatore["Modifica"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Cancella Sottospecie*@
                    <div class="panel-body" ng-show="vm.panelCancellaSottospecieVisibile">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-lg-2 col-lg-offset-2 control-label text-danger">
                                    @localizzatore["Cancella Sottospecie"]:
                                </label>
                                <div class="col-lg-3">
                                    <h4>{{vm.entitaDaCancellare}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-lg-offset-6">
                                        <div class="pull-right">
                                            <button type="reset"
                                                    class="btn btn-outline-primary"
                                                    ng-click="vm.annullaCancellaSottospecie()">
                                                @localizzatore["Annulla"]
                                            </button>
                                            @if (await autorizzatore.AuthorizeAsync(User, "EditTassonomia"))
                                            {
                                            <button type="submit"
                                                    class="btn btn-danger"
                                                    ng-click="vm.cancellaSottospecie()">
                                                @localizzatore["Conferma Cancellazione Sottospecie"]
                                            </button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>